<div class="space-70"></div>
<div class="container">
<div class="panel panel-default" id="datsun_info">
    <div class="panel-heading" role="tab" id="headingOne">
      <h1 class="panel-title">
          <strong >ZCar V8 Conversions</strong>
      </h1>
    </div>
        <p>
          Chevy spunk for your Datsun ZCar.  John's Cars ZCar conversion to a Chevrolet V8 small block and GM transmission redefines <strong>AWESOME.</strong>  This 100% bolt-in kit does not rely on the stock Datsun crossmember motor mount towers alone for strength.  There is no welding required or recommended.  You do not drill holes in the frame or cut holes in the car as necessary with other swaps.  Front suspension mods are not usually needed due to engine setback.
        </p>
        <p>
          Stock exhaust manifolds can be used and the GM A6 A/C compressor fits.  We suggest you use a GM alternator and PS pump (as needed) rather than retain the $$$ ZCar units.  Transmission choices are: 4, 5 or 6-speed manual, T350, T400 or T700 overdrive automatics.  A V8 ZCar is approximately 2700 pounds, ZXCars slightly fatter!
        </p>
        <p>
          My kit for the 240-260-280Z or 280ZX includes:

        </p>
        <ul>
          <li>conversion mounting adapters</li>
          <li>engine rubber mounts</li>
          <li>transmission crossmember and mount</li>
          <li>throttle cable</li>
          <li>mechanical speedometer hookup and calibration</li>
          <li>water hoses and fittings</li>
          <li>oil pressure and water temperature hookups</li>
          <li>hardware and more</li>
          <li>illustrated instruction manual</li>
        </ul>
        <p>
          The installation requires approximately 40 hours exclusive of detailing.
        </p>

        <div class="space-70"></div>
        <div style="border-radius: 15px; border-color: red; border-style: solid; color: black; padding: 10px;">
          <h3 style="text-align: center;">
             <strong>SHOW ME, TELL ME</strong>
          </h3>
          <p>
            An abbreviated version of the conversion instructions are available for $25 - they will give you a good idea of the project and the $25 is credited to your kit purchase.          </p>
        </div>
        <div class="space-70"></div>
        <p> <%= link_to "Back to top", anchor: ("v8_conversion")%>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'datsun_zcars/recommendations' %>
<%= render partial: 'datsun_zcars/pricing' %>
