<div class="container">
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingFive">
    <h1 class="panel-title">
        <strong>Pricing and How To Order</strong>
    </h1>
  </div>
      <p>
        Please fill out the three ZCar Conversion Kit Order Sheets completely, <strong>sign them</strong>, and return them with a <strong>money order or cashier's check</strong>.  No COD, no credit cards, no personal checks and no company checks are accepted on kit orders.  <em><strong>No exceptions!</em>  KITS are in STOCK and shipped upon receipt of funds.</strong>  Kit weight is approximately 36lbs.
      </p>
      <p>
        The order sheets are JPEG images (about 185K each) so it will take a minute or so to load.   Print it out from a Laser, LED or ink-jet printer only – dot matrix printer will be useless.  Make sure your print margins are set to .50 inches or it may not fit on a page.
      </p>
      <p>
        If you have any questions about the conversion, please call or email them to zcar@johnscars.com.  Prices subject to change without notice.
      </p>
      <p>
        Read our Customer Testimonials to hear what our customers think about us and our products.
      </p>
      <p>
        <strong><em>Note:</strong> Given the proprietary nature of my conversion kits, I do not allow the return of a conversion kit for any reason.</em>
      </p>
      <table class="table table-bordered">
        <thead>
          <th colspan=2> V8 ZCar Kit & Goodies </th>
          <th> Price</th>
          <th>Freight</th>
        </thead>
        <tbody>
          <tr>
            <td class="col-md-2"><strong>V8 ZCar Kit</strong></td>
            <td class="col-md-6"></td>
            <td class="col-md-2"><strong>$695.00</strong></td>
            <td class="col-md-2"><strong>Paid</strong></td>
          </tr>
          <tr>
            <td class="col-md-2"><strong>Show Me, Tell Me</strong></td>
            <td class="col-md-6"> A abbreviated version of the conversion manual is available for you to preview and is credited toward your kit purchase.</td>
            <td class="col-md-2">$25.00</td>
            <td class="col-md-2">Paid</td>
          </tr>
          <tr>
            <td><strong>Tachometer Recalibration</strong> </td>
            <td>(send it to me) <small>1</small></td>
            <td>$55.00</td>
            <td>$5.00</td>
          </tr>
          <tr>
            <td><strong>Ramshorn Exhaust Manifolds</strong> </td>
            <td>Pair for Small Blocks</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>...Without Smog (AIR) fittings - used <small>2, 3</small></td>
            <td>$125.00</td>
            <td>$15.00</td>
          </tr>
          <tr>
            <td></td>
            <td>With Smog (AIR) fittings - new <small>2, 3</small></td>
            <td>$275.00</td>
            <td>$15.00</td>
          </tr>
          <tr>
            <td></td>
            <td>With EGR setup and Smog (AIR) fittings (LT-1 only) <small>2</small></td>
            <td>$325.00</td>
            <td>$15.00</td>
          </tr>
          <tr>
            <td></td>
            <td><strong>Air Rail Set</strong> for Ramshorn Manifolds - pair</td>
            <td>$45.00</td>
            <td>$5.00</td>
          </tr>
          <tr>
            <td></td>
            <td><strong>Check Valves</strong> for Air Rails - pair</td>
            <td>$35.00</td>
            <td>$5.00</td>
          </tr>
          <tr>
            <td><strong>Driveshafts</strong>	</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>T350 or T700 Driveshaft (without adapter) <small>2</small></td>
            <td>$165.00</td>
            <td>$13.00</td>
          </tr>
          <tr>
            <td></td>
            <td>T400 Heavy Duty Driveshaft (without adapter) <small>2</small></td>
            <td>$205.00</td>
            <td>$13.00</td>
          </tr>
          <tr>
            <td><strong>Driveshaft Adapter</strong> </td>
            <td>GM to Datsun <small>2</small></td>
            <td>$100.00</td>
            <td>$5.00</td>
          </tr>
          <tr>
            <td><strong>Fuel Injection Stuff</strong> </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td> </td>
            <td>TBIPUMP - fuel pump for TBI injection</td>
            <td>$115.00</td>
            <td>$5.00</td>
          </tr>
          <tr>
            <td> </td>
            <td>TPIPUMP - fuel pump for TPI and LT-1</td>
            <td>$172.00</td>
            <td>$5.00</td>
          </tr>
          <tr>
            <td> </td>
            <td>Oxygen Sensor Bungs</td>
            <td>$6.00</td>
            <td>$1.00</td>
          </tr>
          <tr>
            <td><strong>Electric Fan</strong> </td>
            <td>16" with built-in shroud <small>2</small></td>
            <td>$94.25</td>
            <td>$10.00</td>
          </tr>
          <tr>
            <td> <strong>Fanstat</strong> </td>
            <td>electric fan controller</td>
            <td>$40.00</td>
            <td>$5.00</td>
          </tr>
          <tr>
            <td><strong>Radiator</strong></td>
            <td>Super-Duty 4 Row  - exchange only <small>2</small></td>
            <td>$245.00</td>
            <td>$18.00</td>
          </tr>
          <tr>
            <td><strong>Electrolock™</strong>  </td>
            <td>torque convertor lockup for T700</td>
            <td>$85.00</td>
            <td>$5.00</td>
          </tr>
          <tr>
            <td><strong>Cable X</strong>  </td>
            <td>mechanical speedo output for 6-speed manual</td>
            <td>$375.00</td>
            <td>$7.00</td>
          </tr>
          <tr>
            <td colspan=4> <strong><small>1</small></strong>	 Non-JCI Conversion - Tach calibration is $70.00.</td>
          </tr>
          <tr>
            <td colspan=4> <strong><small>2</small></strong> Add $50.00 to these items if your V8 ZCar is not a JCI Kit.</td>
          </tr>
          <tr>
            <td colspan=4> <strong><small>3</small></strong> Add $30.00 to manifolds to fit FI motors with center bolt valve covers</td>
          </tr>
          <tr>
            <td colspan=4> <strong><small>AIR</small></strong>--air induction reaction <br>
              All freight overages will be refunded.
            </td>
          </tr>
        </tbody>
      </table>
      <div class="space-70"></div>
      <p> <%= link_to "Back to top", anchor: ("v8_conversion")%>
    <!-- </div> -->
  <!-- </div> -->
</div>
</div>
