<div class="container">
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingTwo">
    <h1 class="panel-title">
        <strong>Recommendations</strong>
    </h1>
  </div>

      <div class="col-md-2">
        <h4> Motors </h4>
      </div>
      <div class="col-md-10">
        <p>
          Stock small block motors provide a vast improvement over Datsun power no matter how hipo a 6-cylinder you build. Use a 305 (5.0) for fuel economy or a 350 (5.7) for more punch. Other V8 sizes, 327, 383, 400 (small block) etc. are also suitable.
         </p>
        <p>
          <strong>Fuel Injection (FI):</strong> For years we’ve suggested carb motors to keep it simple, however, GM has the bugs worked out and we are ready when you are. Four OEM systems are available, throttle body injection (TBI) that uses a carb looking unit with two centrally located injectors, tuned port injection (TPI) with an injector at each port, the high revving LT-1, and the Vortec V8 motor. All of these FI systems work great with a JCI Conversion Kit.
         </p>
         <p>
           FI is not a cheap date, but you’ll have class <strong>provided</strong> you don’t try to shortcut the job. A JCI Conversion Kit <strong><em>DOES NOT</em></strong> include the Fuel Injection harness, ECM, fuel pump or associated wiring and plumbing that is FI related. You must buy a custom harness (or modify an original harness) from the aftermarket FI guys (we do not sell or customize FI harnesses). There are many businesses that sell tech manuals, complete harnesses, programmed ECMs, etc.  Here are two we use:
         </p>
         <p>
           Howell Engine Development in Michigan 810-765-5100
           Dr. K in Alabama 205-543-7165
         </p>
         <p>
           <strong>LT-1 Notes:</strong> LT-1 passenger car brackets will not clear the engine mounts and frame of the ZCar.  You must use Corvette LT-1 brackets.  The LT-1 and 4300 derivative have the EGR plumbed externally into the rear of the intake because GM deleted the exhaust crossover passage in the heads.  On the LT-1, it is best to keep the EGR because it reduces spark knock, reduces emissions, and allows the computer to signal more ignition advance (better performance).  I have a pair of exhaust manifolds with the required modifications, parts, and plumbing necessary to retain the EGR.   AIR - air induction reaction - is also accommodated with these manifolds (a must in communities with emission controls requirements).  AIR only functions the first minute or so of operation - it helps complete combustion and light off the catalytic converters quicker.  The air pump on LT-1 is electric and is controlled by the ECM.
         </p>
         <p>
           <strong>Fuel Injection $$$:</strong>  Add a $100.00 to the JCI Kit Price when using a FI V8 motor for the many changes required for this V8 kit – cooling system, electrical, steering and A/C plumbing, etc. plus 8 more pages of instructions.
         </p>
      </div>
      <div class="col-md-2">
        <h4> Transmissions: </h4>
      </div>
      <div class="col-md-10">
        <p>
          I suggest you use an T700 automatic transmission in your V8 ZCar as it is an automatic slightly easier swap and with mountains of torque available it is really a more driveable car.  You can light 'em up whenever you want and the 30% overdrive reduces noise, improves mileage and lengthens engine life.  The automatic shifter from another ZCar is my preference or use an aftermarket custom shifter. T700 requires a one inch dent in tunnel.  Please, do yourself a favor and install a T700 overdrive the first time.
        </p>
        <p>
          <strong>T700 Notes:</strong>   All T700's have torque-convertor lockup and it <strong>must be hooked up</strong> to prevent damage to the transmission.  John's Cars offers <strong>ELECTROLOCK™</strong>, the simple set-up to lock-up a T700 torque convertor for maximum fuel economy. Very easy to install – no drilling, tapping or machining required.  For T700 trans to 1992 (not 4L60E).  The kit can be installed with the trans in the car.
        </p>
        <p>
          If a manual transmission is a must for you, then use an overdrive!  Manual transmission installations are likely to require enlarging the hole in the tunnel for the shifter and reworking console. The T5 is your best combination for availability and reliability.  If you desire the 6-speed from later GM cars, the only obstacle is its lack of a mechanical speedometer output - but we've got the answer.
        </p>
      </div>
      <div class="col-md-2">
        <h4>Exhaust Manifolds:</h4>
      </div>
      <div class="col-md-10">
        <p>
          We use Ramshorn Exhaust manifolds (as illustrated).  You can get them at your local dealer (GM #372243) or we sell them.
        </p>
      </div>
      <br clear="all"/>
      <div class="col-md-2">
        <h4> Driveshaft: </h4>
      </div>
      <div class="col-md-10">
        <p>
          I strongly recommend my special driveshaft adapter that permits using an all GM driveshaft with full size U-Joints on each end. Shortening a GM driveshaft costs $15.00-$30.00. A kluged GM-Datsun driveshaft will cost you $100.00-$200.00 and will be the weak link you want to avoid.
        </p>
      </div>
      <div class="col-md-2">
        <h4> Notes: </h4>
      </div>
      <div class="col-md-10">
        <p>
          If your Z is rusty, please find another one. The front frame rails were subject to rusting, and it is not worth the chance of what would happen if it should succumb to the torque of the new power plant.  The Z rear axle has proven adequate for most applications.
        </p>
      </div>
      <div class="col-md-2">
        <h4> Suggestion: </h4>
      </div>
      <div class="col-md-10">
        <p>
          I <strong><em>strongly</em></strong> recommend you purchase a <strong>COMPLETE</strong> "pull-out" engine with transmission, fan, all accessories and brackets, trans oil cooler lines, air filter assembly (with a flat top), etc., as a package.  Buying a piece at a time will drive you and the parts person nuts, not to mention the added time and money.  Alternatively, consider also buying an older but complete Chevrolet car and rebuilding the motor, transmission, etc. Performance mods are easy to do at overhaul time.  I suggest 1969-up long style water pump and brackets, internal regulator alternator and HEI distributor.  The main point is to get the new driveline <strong>COMPLETE</strong> – even if you have to buy an entire car to do it!  This is the number one comment from people who try to piece it together themselves.
        </p>
      </div>
      <div class= "col-md-12" style="border-radius: 15px; border-color: yellow; border-style: solid; color: black; padding: 10px;">
        <div class="col-md-2" >
          <h4> California SMOG: </h4>
        </div>
        <div class="col-md-10">
          <p>
            In January 1998, sanity prevailed and the emission laws changed, and now imply that all cars 25 or more years old are exempt from emissions standards.  Please check with your local authorities!
          </p>
        </div>
      </div>

      <div class="space-70"></div>
      <div class="row">
        <div class="col-xs-6 col-sm-6">
          <div class="services-box-smaller">
            <%= link_to "Back to top", anchor: ("v8_conversion"), class: "btn btn-primary"%>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6">
          <div class="services-box-smaller">
            <%= link_to "Order Datsun Zcar Conversion Kit", new_datsun_zcar_path%>
          </div>
        </div>
      </div>
  </div>
</div>
