<div class="space-30"></div>
<div class="space-30"></div>

<section id="content-region-1" class="padding-40">
    <div class="container">
        <div class="row">
            <div class="col-md-12 features">
                <h3>Datsun ZCar</h3>
                <div class="row panel panel-default">
                    <div class="col-md-3 services-icon" id="v8_conversion">
                        <%= image_tag("zcar.png", :class => "car-pic") %>
                    </div>
                    <div class="col-md-9 services-text">
                        <h4 class="heading-mini">Datsun ZCar</h4>
                        <p>The Datsun ZCar was the first Japanese sports car to gain acceptance in America. </p>
                        <div class="row">
                          <div class=" col-xs-6 col-sm-6">
                            <div class="services-box-smaller" >
                              <h5><%= link_to "ZCar V8 Conversion", anchor: ("datsun_info") %></h5>
                            </div>

                          </div> <!--col4-->
                          <div class="row">
                            <div class="col-xs-6 col-sm-6">
                              <div class="services-box-smaller">
                                <h5>ZCar Parts</h5>
                              </div>
                                  <p> <small>**This is the extent of our Zcar offerings, we do not have brakes, suspension, frame etc components nor do we have any experience with other companies parts.</small></p>
                            </div><!--services box-->
                        </div>


                    </div>
                </div><!--row panel-->
              </div>    <!--col 12-->
    </div><!--row-->
  </div><!--container-->
</section>
<%= render partial: 'datsun_zcars/information' %>
