<br><br><br><br>
<div class="container">
  <p> Your Datsun Zcar Order form was generated correctly. <%= link_to "Click Here", print_datsun_zcar_pdf_path(@datsun_zcar.id, format: :pdf) %> to print your order form. </p>
  <br><br>
  <p> Need to Edit your Datsun Zar order form? <%= link_to "Click Here", edit_datsun_zcar_path(@datsun_zcar.id) %> to edit your form. </p>
</div>
