<div class="container">
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingTwo">
    <h1 class="panel-title">
        <strong>Buick V6 Driveline Checklist</strong>
    </h1>
  </div>

      <p>Below is a checklist for the motor, transmission and accessories you will need. Before we proceed, I have one recommendation to make:</p>
      <div class="col-md-2">
        <h4> JR'S TIPS </h4>
      </div>
      <div class="col-md-10">
        <p> <strong> 	I recommend buying a COMPLETE "pull-out" driveline (with flywheel) and all the brackets, etc. intact from a rear wheel drive car.  Consider buying a complete 75-80 Monza, Skyhawk, Starfire, Sunbird, etc. for your powerplant and taking it all at once.   I do not stock new or used Buick parts. </strong></p>
      </div>
      <div class="col-md-2">
        <h4> Buick V6 Motor: </h4>
      </div>
      <div class="col-md-10">
        <p> The rear-wheel drive Buick V6 has been available since 1964 in several body styles and displacements.  It is a 90° V6 with distributor at the front of the motor and came in both the ODD-FIRE and EVEN-FIRE variety.  Be sure you get the correct flywheel with your motor or you may have severe balance problems and <strong>beware</strong> – many parts will not interchange between the two.  More info in V6 Performance!  Late model V6 motors are fine <strong>if</strong> you have all the computer hookups or switch to earlier distributor and carburetor – add $100 to your V6 kit if installing a fuel injection V6.  The 3.0 V6 (front wheel drive) is not suitable.</p>
        <p>TURBO, TURBO, TURBO, the hottest five letter word around.  The Buick factory 231-4V Turbo motor (rear drive cars) fits under the hood (including smog) so you can be really sneaky.  I do not suggest the turbo as truthfully, it creates more go than most of us require but it will fit if you insist.  You will have to modify the TR7 fresh air intake plenum, relocate the V6 wastegate diaphragm and custom make an air filter assembly.  I cannot supply technical assistance for Turbo or computer set-ups due to the many variations offered. <strong>Sorry!</strong></p>
      </div>
      <div class="col-md-2">
        <h4> Transmission: </h4>
      </div>
      <div class="col-md-10">
        <p>I recommend an automatic for all V6 conversions, preferably the T700 overdrive.  Converting a manual shift TR7 to automatic trans is very easy with a GM shifter and console (application, part numbers and linkage supplied with the kit).  I <strong>strongly</strong> suggest you spend the extra bucks for an "overdrive" due to the low gearing and short tires of the TR7.  Although the T700R4 is a Chevrolet unit, it can be installed in your TR7 with the Buick V6 using my adaptor. </p>
        <p><strong>T700 Notes:</strong>   All T700's have torque-convertor lockup and it <strong>must be hooked up</strong> to prevent damage to the transmission.  John's Cars offers <strong>ELECTROLOCK™</strong>, the simple set-up to lock-up a T700 torque convertor for maximum fuel economy. Very easy to install – no drilling, tapping or machining required.  For T700 trans 1982 to 1992 (not 4L60E).  The kit can be installed with the trans in the car.  The higher stall speed torque converter like the Trans-Am or Z28/IROC are preferred and suggested.</p>
        <p>The T-5 or T-50 are 5-speed overdrive manual trans.  If you plan to use a manual transmission, please be sure to properly ID it as a T5 or T50 etc. or you may not get what you need the first time!  A sketch with the overall length is a good idea too.  Please call for more T5 quirks – remember I <strong>strongly</strong> suggest you spend the extra bucks for an "overdrive" trans due to the low gearing and short tires of the TR7.  <strong>Be sure</strong> your V6 flywheel correctly matches your V6 motor.  You will need a bellhousing from a 75 to 80 V6 Monza/Skyhawk/Starfire/Sunbird.  It is cable actuated.   The 4-speed and 5-speed bellhousings will interchange.  A T5 (5 speed) transmission will bolt to this bellhousing.  I do not have any bellhousings.  GM #1378868, Hollander #682.  S10 truck shifters will not work in a TR7.</p>
        <p>The GM T200-4R overdrive is another option (the T200 3-speed is not an option).  Originally installed in V8 Monte Carlos and behind many Buick powered models including the potent GN-X.  Most cases have dual bolt patterns.  It is a very cost effective alternative to the pricey T700R4.   <strong>ELECTROLOCK™</strong> works for the T200-4R.  Visit your transmission rebuilder first.</p>
      </div>
      <div class="col-md-2">
        <h4> Accessories: </h4>
      </div>
      <div class="col-md-10">
        <p>The stock GM alternator, A/C compressor (the short R4 will fit, the long A6 has not been verified) and fan clutch are retained.  Customized air cleaner or a Turbo Regal remote filter is required.  You need the right-hand exhaust manifold off a 80-81 Toronado/Rivera/Eldorado V6 (#25505920 or #1012R).  These are no longer available from GM.  You can use our kit header (not in California) or a Turbo Regal RH manifold (Hollanders #1061R) – simply cap off the extra outlet.  I do not have these parts, search your local yards.</p>
      </div>
      <div class="col-md-2">
        <h4> Note: </h4>
      </div>
      <div class="col-md-10">
        <p>If it is time for new shocks, I suggest installing them when you change springs to avoid duplicating labor.</p>
      </div>
      <div class="col-md-10 col-md-offset-2">
        <table class="table table-bordered">
          <thead>
            <th colspan=2 style="background-color: #800000; color: white;">Estimated Costs of Local Components</th>
          </thead>
          <tbody>
            <tr>
              <td>Engine, transmission and accessories</td>
              <td>$300.00 - $1000.00</td>
            </tr>
            <tr>
              <td>Miscellaneous, lube, etc.</td>
              <td>$20.00 - $30.00</td>
            </tr>
            <tr>
              <td>Radiator modification</td>
              <td>$30.00 - $50.00</td>
            </tr>
            <tr>
              <td>Driveshaft assembly</td>
              <td>$15.00 - $100.00</td>
            </tr>
            <tr>
              <td>Exhaust system hookup</td>
              <td>$40.00 - $100.00</td>
            </tr>
          </tbody>
        </table>
  </div>
  <div class="space-70"></div>
  <div class="row">
    <div class="col-xs-6 col-sm-6">
      <div class="services-box-smaller">
        <%= link_to "Back to top", anchor: ("triumph_top")%>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6">
      <div class="services-box-smaller">
        <%= link_to "TR7 KIT ", tr7s_path%>
      </div>
    </div>
  </div>
</div>
</div>
