<div class="container">
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingThree">
    <h1 class="panel-title">
        <strong>TR7 Conversion Kit Pricing</strong>
    </h1>
  </div>
        <table class="table table-bordered">
          <thead>
            <th style="background-color: #800000; color: white;">V6 TR7 Conversion Kit</th>
            <th style="background-color: #800000; color: white;">Price</th>
            <th style="background-color: #800000; color: white;">Freight</th>
          </thead>
          <tbody>
            <tr>
              <td>V6 TR7 Kit for...<br>
                  T350 or 4SP trans (no A/C hoses)<br>
                  T5 or T50 trans (no A/C hoses) <small><b>1</b></small><br>
                  T200-4R or T700 trans (no A/C hoses)</td>
              <td><br>
                  $670.00<br>
                  $720.00<br>
                  $795.00</td>
              <td><br>
                  $25.00<br>
                  $25.00<br>
                  $25.00</td>
            </tr>
            <tr>
              <td>Kit Options...<br>
                  A/C hoses ready to install <small><strong>5</strong></small><br>
                  V6 TR7 header set <small><strong>2</strong></small><br>
                  Tach Calibration (send complete dash module) <small><strong>3</strong></small>
              </td>
              <td><br>
                  $45.00<br>
                  $200.00<br>
                  $70.00
              </td>
              <td><br>
                  $5.00<br>
                  $15.00<br>
                  $6.00
              </td>
            </tr>
            <tr>
              <td>TR7 4-Speed Driveshaft Adaptor <small><strong>4, 5</strong></small></td>
              <td>$75.00</td>
              <td>$5.00</td>
            </tr>
            <tr>
              <td>V6 TR7 Spring Set for non-JCI V6 (non-returnable)</td>
              <td>$200.00</td>
              <td>$8.00</td>
            </tr>
            <tr>
              <td>Electrolock™ Torque Converter Lock-up Kit <small><strong>5</strong></small></td>
              <td>$85.00</td>
              <td>$5.00</td>
            </tr>
            <tr>
              <td>V6 Performance (125 pages)</td>
              <td>$17.95</td>
              <td>paid</td>
            </tr>
            <tr>
              <td>See more TR7 goodies for your TR7 below.</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan=3><small><strong>1</strong></small>	For manual transmission orders please be sure to properly ID it as a T5 or T50 etc. or you may not get what you need the first time!   The S10 truck 5 speed shifter will not work.</td>
            </tr>
            <tr>
              <td colspan=3><small><strong>2</strong></small>	My headers are custom made for the V6 TR7.   Other V6 headers – Weiand (Smokey), Cyclone, Hooker, etc. will not fit.   Add $50.00 if your V6 is not a JCI kit.  I cannot guarantee fit on non-JCI conversions.  <strong>Headers are not California SMOG approved and therefore are NOT available for sale or shipment to California.</strong></td>
            </tr>
            <tr>
                <td colspan=3><small><strong>3</strong></small>	Tachometer Calibration is included with the kit - if you are not using a JCI kit, I can calibrate yours for $70.00.</td>
            </tr>
            <tr>
                <td colspan=3><small><strong>4</strong></small>	The Driveshaft Adapter is $100.00 if you are not using a JCI Kit.  The 4-speed and automatic TR7s have the small third member style rear axle.  The driveshaft adaptor is highly recommended because it allows use of a GM driveshaft with full size U-Joints.  Shortening a GM driveshaft costs $15-$30.  A mismatched combo of GM-TR7 driveshaft ($75-$150) keeps the puny TR7 U-joint which is the weak link.  Driveshaft hookup for large rear axle (5-speed cars) is included with the kit.</td>
            </tr>
            <tr>
                <td colspan=3><small><strong>5</strong></small>	Freight paid with kit order.</td>
            </tr>
          </tbody>
        </table>
        <div class="space-70"></div>
        <div class="row">
          <div class="col-xs-6 col-sm-6">
            <div class="services-box-smaller">
              <%= link_to "Back to top", anchor: ("triumph_top")%>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6">
            <div class="services-box-smaller">
              <%= link_to "TR7 KIT ", tr7s_path%>
            </div>
          </div>
        </div>
      <!-- </div>
    </div> -->
  </div>
</div>
</div>
