<div class="container">
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingFive">
    <h1 class="panel-title">
        <strong>TR7 Customer Testimonials</strong>
    </h1>
  </div>
      <p>
        Engine and trans are now in car and I am hooking stuff up. Everything fits!!! I'm very pleased with kit. Thanks (TR7)..... Dave Burton, Charlotte, NC.
      </p>
      <p>
        Enclosed are photos of our TR7 with the Buick 231 everything is complete and runs very well. The swap was rather easy and all parts we needed were in the kit. The power is unreal compared to the original engine. Feel free to give my name to any people that ask about your kit; I am very satisfied with it..... Larry Mizelle, Temperance, MI.
      </p>
      <p>
        I agree with you. Price is secondary if you can get quality, service and knowledge!!! (TR7 & XJ6)..... Mike Bancerowski, Fayetteville, AR.
      </p>
      <p>
        You saved my TR7. I take off my hat to you..... Gary Raynes, Suffield, CT.
      </p>
      <p>
        I'd just like to compliment you on an excellent kit; we had no problems. (TR7)..... Mike Duffel, Willingboro, NJ.
      </p>
      <p>
        I have been impressed with the completeness of the kit. As I told you, I tend to spend quite a bit of armchair time planning before I turn a wrench. (TR7)..... Lonny Wall, Edmond, OK.
      </p>
      <p>
        Still have doubts?  Read more <%= link_to"Customer Testimonials", root_path%> about John's Cars.
      </p>
      <div class="space-70"></div>
      <div class="row">
        <div class="col-xs-6 col-sm-6">
          <div class="services-box-smaller">
            <%= link_to "Back to top", anchor: ("triumph_top")%>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6">
          <div class="services-box-smaller">
            <%= link_to "TR7 KIT ", tr7s_path%>
          </div>
        </div>
      </div>
    <!-- </div>
  </div> -->
</div>
</div>
