<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingFour">
    <h4 class="panel-title">
      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        How to Order
      </a>
    </h4>
  </div>
  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
    <div class="panel-body">
      <p>
        Complete the information on the V6 TR7 Conversion Kit Order Sheet and send it in with <strong>certified funds or money order</strong>.  No COD's, no credit cards, no personal or company checks will be accepted on kit orders. No exceptions!   The <%= link_to "V6 TR7  Conversion Kit Order Sheet", tr7s_path%> is an online form. Please complete the entire form and hit "Submit Order" at the bottom of the page when finished. Print it out from a Laser, LED or ink-jet printer only – dot matrix printer will be useless.  Make sure your print margins are set to .50 inches or it may not fit on a page.
      </p>
      <p>
        Please complete as much information as possible on the order sheet.  Especially important are the year, model, and vehicle ID number of your car, GM engine size, carburetion, transmission, if air-conditioned, tire size, and the rear axle ratio.   Please call if you have questions, blanks will delay your order.  <strong>KITS in STOCK and shipped upon receipt of funds</strong>.  Kit weighs approximately 53 pounds.  Kit components are not sold separately or in stages – only as a complete package.  Replacement parts are available of course, but only to verified kit customers.  <strong><em>Kits are not returnable</strong></em>.
      </p>
      <p>
        Please call for blue label (second day UPS service) or red label (next day UPS) and for freight charges outside Continental U.S.A.  Prices subject to change without notice.   All freight overages are credited to your account.  If you have any questions, please email them to tr7@johnscars.com.
      </p>
      <div class="col-md-10 col-md-offset-1 features" style="background-color: yellow; opacity: 0.8; border-radius: 25px;">
        <h3 style="text-align: center;">
          <strong>CALIFORNIA:</strong>
        </h3>
        <p>
          The headers for this conversion were not CARB approved.  However, in January 1998 sanity prevailed and the emission laws changed, and now imply that all cars 25 or more years old are exempt from emissions standards.  This would mean pre-1974 TR7's would be eligible to use our headers - please check with your local authorities!
        </p>
      </div>
      </div>
  </div>
</div>
