<div class="container">
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingFive">
    <h1 class="panel-title">
      <!-- <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive"> -->
        <strong>TR7 Parts</strong>
      <!-- </a> -->
    </h1>
  </div>
  <!-- <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
    <div class="panel-body"> -->
      <p>
        We carry a <strong>small</strong> selection of TR7 suspension, electrical and brake parts...  Here are a few.
      </p>
      <table class="table table-bordered">
        <thead>
          <th colspan=2> TR7 Parts </th>
          <th> Price</th>
          <th>Freight</th>
        </thead>
        <tbody>
          <tr>
            <td class="col-md-2">PERF10 <small><strong>6, 7</small></strong></td>
            <td class="col-md-6">Polyurethane – the trick setup for TR7 cars in the suspension department.  This 10 bushing set services front control arms and all four rear axle locating links.  Stops rear axle steer.</td>
            <td class="col-md-2">$115.00</td>
            <td class="col-md-2">$5.00</td>
          </tr>
          <tr>
            <td>PERF6 <strong><small>6, 7</small></strong ></td>
            <td>Polyurethane – the trick setup for TR7 cars in the suspension department.  This 6 bushing set services the front sway bar.</td>
            <td>$45.00</td>
            <td>$5.00</td>
          </tr>
          <tr>
            <td>ANTIDIVE <strong><small>7</small></strong></td>
            <td>Antidive kit for the TR7.  This 20 minute bolt-in works for all TR7 and TR8 cars to reduce the nose down attitude under hard deceleration.</td>
            <td>$30.00</td>
            <td>$5.00</td>
          </tr>
          <tr>
            <td>QSJ718</td>
            <td>Lower Ball Joint (two required).</td>
            <td>$19.00</td>
            <td>$5.00</td>
          </tr>
          <tr>
            <td>QR1556</td>
            <td>Tie Rod End (pair).</td>
            <td>$15.00</td>
            <td>$5.00</td>
          </tr>
          <tr>
            <td>CRC307</td>
            <td>Lower Front A-Arm bushing (need two per car) – stock TR7 (not polyurethane).</td>
            <td>$17.93</td>
            <td>$5.00</td>
          </tr>
          <tr>
            <td>TR7FRONT <strong><small>7</small></strong></td>
            <td>Front KYB Shocks (pair).</td>
            <td>$105.00</td>
            <td>$9.00</td>
          </tr>
          <tr>
            <td>UKC4981	</td>
            <td>Shock Boot – you can’t do it later (each).</td>
            <td>$32.22</td>
            <td>$5.00</td>
          </tr>
          <tr>
            <td>TR7REAR <strong><small>7</small></strong></td>
            <td>Rear KYB Shocks (pair).</td>
            <td>$95.00</td>
            <td>$9.00</td>
          </tr>
          <tr>
            <td>TKC3300</td>
            <td>TR7, TR8 all years new rear SPRINGS (pair).</td>
            <td>$90.00</td>
            <td>$10.00</td>
          </tr>
          <tr>
            <td colspan=4> <strong><small>6</small></strong>	I strongly suggest the polyurethane suspension bushing set. Designed for rally cars, they absolutely stop rear axle steer and don’t ruin the ride! Two front and eight rear bushings are supplied. A must for TR8s too. Put the front bushings in before installing the V6 as you’ll have the bolts out for the mounts. Rear bushings can be done anytime.</td>
          </tr>
          <tr>
            <td colspan=4> <strong><small>7</small>	JR's DEAL!</strong> I'll pay the freight on these items if you order them <strong>WITH</strong> your kit.  If you order them later, no deal.</td>
          </tr>
        </tbody>
      </table>
      <div class="space-70"></div>
      <p> <%= link_to "Back to top", anchor: ("triumph_top")%>
    <!-- </div> -->
  <!-- </div> -->
</div>
</div>
