<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          TR7 ROCKETS!
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p>
          <strong>Salvation for the anemic TR7.</strong>  A John’s Cars conversion will provide you with the <strong>oomph</strong> you deserve (more than a "TR8") and saves your Triumph from being on the way to the lonely boneyard.  Don’t feel as if British Leyland built the only four-cylinder Titanic, GM had the Vega.  Unfortunately your V6 TR7 will be shunned by its leaky, overheating ex-stablemates and you’ll lose favor with "friends" who will always be wanting to try out your toy.  The V6 TR7 defines <strong>performance</strong>, especially when you match up with a TR8 – just don’t take all his money – but dependability is what this swap is really all about, performance is a side effect!
        </p>
        <p>
          This conversion kit uses the rear-wheel drive 90° Buick V6 (sizes 199-231-252) with a Buick/GM 4 or 5-speed manual transmission, Turbo Hydra-matic 350 automatic or the 200-4R or 700R4 overdrive.  A converted TR7 is approximately 85 pounds heavier, so I supply a set of specially wound front springs. The center of gravity moves slightly rearward so handling is actually improved.
        </p>
        <p>
          Kits include just about everything you’ll need to make it confidently prowl the streets:
        </p>
        <ul>
          <li>engine mounting brackets and rubber isolators</li>
          <li>trans mount and crossmember</li>
          <li>100% "plug-in" engine wiring harness (color coded to your TR7)</li>
          <li>custom-made V6 front springs (pair)</li>
          <li>radiator & heater hoses,filler neck and/or cap</li>
          <li>throttle linkage</li>
          <li>oil and water transmitter hookups</li>
          <li>speedometer cable and calibration</li>
          <li>tachometer calibration (send it to me)</li>
          <li>comprehensive illustrated instructions</li>
          <li>all the hardware to complete the transition</li>
        </ul>
        <p>
          Kit options include:
        </p>
        <ul>
          <li>A/C hoses – custom made and ready to install</li>
          <li>tubing exhaust header set (non SMOG)</li>
          <li>T700 adaptor plate</li>
        </ul>
        <p>
          The conversion is 100% bolt-in, no welding or drilling required.  The TR7 left engine mount (on the crossmember) must be trimmed off for oil pan clearance.  Triumph engineers were looking ahead when they laid out the large engine bay that provides plenty of room – so V6 tune-up, service, etc. is super easy.  The TR7 radiator in good condition is adequate.  Start to finish (exclusive of detailing, like painting the engine compartment) is 24-36 hours.
        </p>
        <p>
          I do not offer, nor recommend (and I did research them when I was developing my TR7 conversion) other V6 or V8 engines for the TR7.  Take a look at a TR8 for an idea of "fun" maintenance.  The TR8 motor is 215 cubic inches versus the 231 or 252 CID V6.  The aluminum block/head 215 was made in the U.S.A. in the early 60s and parts for them are as scarce as TR7 parts.  British-Leyland bought it from Buick and used it in the TR8.  If you find the parts the same day you need them, what will they cost?  Most other V8s are cast iron and will make your front bumper a plow.  The Chevy V6 with a rear distributor interferes with the hood latch mechanism.  Availability of engines (and service parts) plus the large variety of performance parts makes the 90° Buick V6 the only logical choice.
        </p>
        <p>
          Retaining TR7 underhood equipment will haunt you – you won’t find a TR7 alternator this Tuesday morning (or next) in Rising Star.  Use standard Buick brackets, it is the only way to fly.  If you think you want to keep the original transmission, price a used one to find out what it will cost when it goes sour.  Stock TR7 transmissions are very marginal and will not sustain a V6’s torque.  They are good salvage material so you can sell it to recover a portion of your conversion investment.  The brakes and rear axle are adequate for standard everyday use.
        </p>
        <p>
          Read our <%= link_to "Customer Testimonials", root_path%> to hear what our customers think about us and our products.</p>
        <div class="space-70"></div>
        <div style="background-color: #800000; border-radius: 15px; color: black;">
          <h3 style="text-align: center;">
             <strong>SUGGESTED BUY</strong>
          </h3>
          <p>
            If you want to know more about my conversion kit and the Buick V6, I offer a package to introduce both to you: a non-illustrated version of the conversion instruction manual (with inventory list) and V6 Performance, 125 pages of facts, figures, parts and more – both for $40.00.  When you buy your kit after reviewing this package, I’ll credit the $40.00 toward your kit purchase PLUS you’ll get the set of 6 Polyurethane Front Sway Bar bushings for FREE.
          </p>
        </div>
      </div>
    </div>
  </div>
