<br><br><br><br>
<div class="container">
  <p> Your Tr7 Order form was generated correctly. <%= link_to "Click Here", print_tr7_pdf_path(@tr7.id, format: :pdf) %> to print your order form. </p>
  <br><br>
  <p> Need to Edit your Tr7 order form? <%= link_to "Click Here", edit_tr7_path(@tr7.id) %> to edit your form. </p>
</div>
