<div class="space-30"></div>
<div class="space-30"></div>

<section id="content-region-1" class="padding-40">
    <div class="container">
        <div class="row">
            <div class="col-md-12 features">
                <h3>Datsun ZCar</h3>
                <div class="row panel panel-default">
                    <div class="col-md-3 services-icon">
                        <%= image_tag("zcar.png", :class => "car-pic") %>
                    </div>
                    <div class="col-md-9 services-text">
                        <h4 class="heading-mini">Datsun ZCar</h4>
                        <p>The Datsun ZCar was the first Japanese sports car to gain acceptance in America. </p>
                        <div class=" col-sm-9">
                        <div class="services-box">
                            <h4><%= link_to "ZCar V8 Conversion", root_path%></h4>
                            <p>   Chevy spunk for your Datsun ZCar. John's Cars ZCar conversion to a Chevrolet V8 small block and GM transmission redefines <strong><em>AWESOME</em></strong>.  Stock exhaust manifolds can be used and the GM A6 A/C compressor fits. We suggest you use a GM alternator and PS pump (as needed) rather than retain the $$$ ZCar units. Transmission choices are 4, 5 or 6-speed manual, T350, T400 or T700 overdrive automatics.</p>
                        </div>
                        </div> <!--col6-->
                        <div class=" col-sm-9">
                        <div class="services-box">
                            <h4>ZCar Parts</h4>
                            <p> This is the extent of our Zcar offerings, we do not have brakes, suspension, frame etc components nor do we have any experience with other companies parts.</p>
                        </div>
                        </div> <!--col6-->
                      
                    </div>
                </div><!--row panel-->
              </div>    <!--col 12-->
    </div><!--row-->
  </div><!--container-->
</section>
