<div class="container">
  <div class="panel">
  <div class="panel panel-body">
    <h4> Welcome </h4>
    <%= link_to "Fill out 'JCI LS ZCAR KIT ORDER SHEET'", order_sheets_path %>
    <br>
    <%= link_to "Fill out 'JCI V12 QUARTERBREED KIT ORDER SHEET'", quarterbreeds_path%>
    <br>
    <%= link_to "Fill out 'TR7 KIT ORDER SHEET'", tr7s_path%>
  </div>
  </div>
</div>
