
        <section id="slider-sec" class="slider-reg">
            <div class="main-flex-slider">
                <ul class="slides">
                    <li>
                        <figure>
                          <%= image_tag("jag_car.png", :class => "img-responsive") %>
                            <figcaption class="slider-overlay ">
                                <div class="slider-text animated fadeInDown">
                                    <h1>John's Cars</h1>
                                    <p>  Making Jaguars RAD – Reliable, Affordable and Driveable  </p>
                                    <p class="slide-btn"><a href="#" class="btn btn-white btn-lg">Order Now</a></p>
                                </div>
                            </figcaption>
                        </figure>
                    </li>


                </ul>
            </div>
        </section><!--main flex slider end-->
        <div class="space-50"></div>
        <div class="container">
            <div class="row intro-row">
                <div class="col-md-12 text-center wow animated fadeInUp">
                    <h2>	Jaguar Conversions</h2>
                    <h3 class="subtitle">Which conversion are you looking for?</h3>
                </div>
                <div class="space-70"></div>
                <div class=" col-sm-4">
                    <div class="services-box">
                        <i class="ion-android-car"></i>
                        <h1>XJ Sedans</h1>
                        <p>
                            The classic Jaguar Sedan was built for 20 years in many variations (XJ6, XJ6C, XJ6L, XJ12, XJ12C, and XJ12L).  We define the "classic" XJ Sedans as all sedans from 1969 to 1987 in the USA (Series 3 XJ12 sedans were available through 1992 in the ROW [rest of the world]).
                        </p>
                    </div>
                </div><!--services box-->
                <div class=" col-sm-4">
                    <div class="services-box">
                        <i class="ion-ios-color-wand-outline"></i>
                        <h1>XJS & XJS HE</h1>
                        <p>
                            The replacement for the E-Type, the Jaguar XJS matched the XJ Sedans in longevity and in variations (XJS, XJS-HE, XJ-SC [Cabriolet], XJS Convertible).
                        </p>
                    </div>
                </div><!--services box-->
                <div class="col-sm-4">
                    <div class="services-box">
                        <i class="ion-android-star-outline"></i>
                        <h1>XJ6 & XJ12</h1>
                        <p>
                            The new flagship of Jaguar was launched in 1987 as an 1988 model.   Officially named as "The New Jaguar XJ6", we call it the XJ40, its original code name.  1995 brings the XJ40 back to a Jaguar "look" – code "X300".
                        </p>
                    </div>
                </div><!--services box-->
              </div><!--row end-->
              <div class="row intro-row">
                <div class="col-sm-4">
                    <div class="services-box">
                        <i class="ion-android-star-half"></i>
                        <h1>E-Type</h1>
                        <p>
                          The sexiest car ever made is even more fun with a V8 under the hood.  Make it a daily driver rather than a toy for the weekends.
                        </p>
                    </div>
                </div><!--services box-->
                <div class="col-sm-4">
                    <div class="services-box">
                        <i class="ion-android-star"></i>
                        <h1>Mark Sedans</h1>
                        <p>
                            The ancestors of the XJ Sedan, these classics suffer from many of the same motor and transmission woes of its descendants.  The Mark came in several models, including the Mark I, II, IX, X, 240,340, 420 and S-Types.
                        </p>
                    </div>
                </div><!--services box-->
              </div>  <!--row-->
        </div><!--intro with services end-->
        <div class="space-70"></div><div class="space-30"></div>



        <div class="space-70"></div>
        <section id="content-region-1" class="padding-40">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 features">
                        <h3>Jaguar Conversions</h3>
                        <p>Which conversion are you looking for?  Just click a conversion or item next to the car that looks like yours.  Or click the Jaguar to go to more information about that model
                        </p>
                        <div class="space-30"></div>
                        <div class="row">
                            <div class="col-md-3 services-icon">
                                <i class="ion-laptop"></i>
                            </div>
                            <div class="col-md-9 services-text">
                                <h4 class="heading-mini">XJ Sedans</h4>
                                <p>
                                    The classic Jaguar Sedan was built for 20 years in many variations (XJ6, XJ6C, XJ6L, XJ12, XJ12C, and XJ12L).  We define the "classic" XJ Sedans as all sedans from 1969 to 1987 in the USA (Series 3 XJ12 sedans were available through 1992 in the ROW [rest of the world]).
                                </p>
                            </div>
                        </div><!--services list-->
                        <div class="space-30"></div>
                        <div class="row">
                            <div class="col-md-3 services-icon">
                                <i class="ion-ios-barcode-outline"></i>
                            </div>
                            <div class="col-md-9 services-text">
                                <h4 class="heading-mini">XJS & XJS HE</h4>
                                <p>
                                    The replacement for the E-Type, the Jaguar XJS matched the XJ Sedans in longevity and in variations (XJS, XJS-HE, XJ-SC [Cabriolet], XJS Convertible).
                                </p>
                            </div>
                        </div><!--services list-->
                        <div class="space-30"></div>
                        <div class="row">
                            <div class="col-md-3 services-icon">
                                <i class="ion-compose"></i>
                            </div>
                            <div class="col-md-9 services-text">
                                <h4 class="heading-mini">XJ6 & XJ12</h4>
                                <p>
                                    The new flagship of Jaguar was launched in 1987 as an 1988 model.   Officially named as "The New Jaguar XJ6", we call it the XJ40, its original code name.  1995 brings the XJ40 back to a Jaguar "look" – code "X300".  In 1998 Jaguar finally put a V8 in their Sedan (20 years after we did it!).
                                </p>
                            </div>
                          </div>
                          <div class="space-30"></div>
                          <div class="row">
                              <div class="col-md-3 services-icon">
                                <i class="ion-compose"></i>
                          </div>
                            <div class="col-md-9 services-text">
                                <h4 class="heading-mini">E-Type</h4>
                                <p>
                                    The new flagship of Jaguar was launched in 1987 as an 1988 model.   Officially named as "The New Jaguar XJ6", we call it the XJ40, its original code name.  1995 brings the XJ40 back to a Jaguar "look" – code "X300".  In 1998 Jaguar finally put a V8 in their Sedan (20 years after we did it!).
                                </p>
                            </div>
                            <div class="space-30"></div>

                            <div class="row">
                              <div class="col-md-3 services-icon">
                                  <i class="ion-compose"></i>
                              </div>
                            <div class="col-md-9 services-text">
                                <h4 class="heading-mini">Mark Sedans</h4>
                                <p>
                                    The ancestors of the XJ Sedan, these classics suffer from many of the same motor and transmission woes of its descendants.  The Mark came in several models, including the Mark I, II, IX, X, 240,340, 420 and S-Types.
                                </p>
                            </div>
                        </div><!--services list-->



                    </div>
                </div>

            </div><!--container-->
        </section><!--features end-->
