<section id="content-region-1" class="padding-40">
    <div class="container">
        <div class="row">
            <div class="col-md-12 features">
                <h3>Jaguar Conversions</h3>
                <p>Which conversion are you looking for?  Just click a conversion or item next to the car that looks like yours.  Or click the Jaguar to go to more information about that model
                </p>
                <div class="row panel panel-default">
                    <div class="col-md-3 services-icon">
                        <%= image_tag("xj_sedans.png", :class => "car-pic") %>
                    </div>
                    <div class="col-md-9 services-text">
                        <h4 class="heading-mini">XJ Sedans (1969 to 1987)</h4>
                        <p>The classic Jaguar Sedan was built for 20 years in many variations (XJ6, XJ6C, XJ6L, XJ12, XJ12C, and XJ12L).  We define the "classic" XJ Sedans as all sedans from 1969 to 1987 in the USA (Series 3 XJ12 sedans were available through 1992 in the ROW [rest of the world]).    Check out the XJ Sedan Model Guide for more details. </p>
                        <p>Chevy V8 Conversion:   Ready to drive your Sedan there-and-back without visiting the shop?  A Chevy V8 driveline provides the reliability and driveability you have been waiting for!</p>
                        <p>XJ6 Quarterbreed:  Got the Borg-Warner blues?  Replace it with a reliable and sturdy GM transmission.</p>
                        <p>XJ12 Quarterbreed:   Tired of third gear?  LEAP into the 21st century with a GM overdrive behind your V12 Jaguar motor.</p>
                        <p>Buy parts on-line for your XJ Sedan:   We carry a full line of parts for all XJ Sedan models – new, rebuilt and used</p>
                    </div>
                </div><!--services list-->
                <div class="space-30"></div>
                <div class="row panel panel-default">
                    <div class="col-md-3 services-icon">
                      <%= image_tag("xjs_he.png", :class => "car-pic") %>
                    </div>
                    <div class="col-md-9 services-text">
                        <h4 class="heading-mini">XJS & XJS HE (1976 to 1996)</h4>
                        <p>The replacement for the E-Type, the Jaguar XJS matched the XJ Sedans in longevity and in variations (XJS, XJS-HE, XJ-SC [Cabriolet], XJS Convertible).  Check out the XJS Model Guide for more details.</p>
                        <p>XJS Chevy V8 Conversion:   Make your XJS what it was meant to be – a luxury sports car.   A Chevy conversion will make your XJS fun to drive – reliability is a side effect.  Fits all XJS.</p>
                        <p>XJS Quarterbreed:   Tired of third gear?  LEAP into the 21st century with a GM overdrive behind your V12 Jaguar motor.  Fits all V12 XJS.</p>
                        <p>XJS & XJS HE Parts:  We carry a full line of parts for all XJS models – new, rebuilt and used.  Check out
                        </p>
                    </div>
                </div><!--services list-->
                <div class="space-30"></div>
                <!-- <div class="row panel panel-default"> -->
                    <!-- <div class="col-md-3 services-icon">
                       image_tag("xj40.png", :class => "car-pic") %>
                    </div>
                    <div class="col-md-9 services-text">
                        <h4 class="heading-mini">XJ6 & XJ12</h4>
                        <p>
                            The new flagship of Jaguar was launched in 1987 as an 1988 model.   Officially named as "The New Jaguar XJ6", we call it the XJ40, its original code name.  1995 brings the XJ40 back to a Jaguar "look" – code "X300".  In 1998 Jaguar finally put a V8 in their Sedan (20 years after we did it!).
                        </p>
                    </div>
                  </div> -->
                  <!-- <div class="space-30"></div> -->
                  <div class="row panel panel-default">
                      <div class="col-md-3 services-icon">
                        <%= image_tag("e-type.png", :class => "car-pic") %>
                      </div>
                    <div class="col-md-9 services-text">
                        <h4 class="heading-mini">E-Type</h4>
                        <p>
                            The new flagship of Jaguar was launched in 1987 as an 1988 model.   Officially named as "The New Jaguar XJ6", we call it the XJ40, its original code name.  1995 brings the XJ40 back to a Jaguar "look" – code "X300".  In 1998 Jaguar finally put a V8 in their Sedan (20 years after we did it!).
                        </p>
                    </div>
                  </div>
                    <div class="space-30"></div>

                    <div class="row panel panel-default">
                      <div class="col-md-3 services-icon">
                        <%= image_tag("mark_sedans.png", :class => "car-pic") %>
                      </div>
                    <div class="col-md-9 services-text">
                        <h4 class="heading-mini">Mark Sedans</h4>
                        <p>
                            The ancestors of the XJ Sedan, these classics suffer from many of the same motor and transmission woes of its descendants.  The Mark came in several models, including the Mark I, II, IX, X, 240,340, 420 and S-Types.
                        </p>
                    </div>
                    </div
                </div><!--services list-->
              </div>
            </div>
          </section>
