<section id="content-region-2" class="parallax-1">
  <div class="space-70"></div>
  <div class="space-70"></div>
  <div class="space-70"></div>

<!-- TR7 ROCKETS! -->
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 features" style="background-color: white; opacity: 0.8; border-radius: 25px;" id="accordion">
        <h3 class="heading-mini">  TR7 ROCKETS! </h3>
          <p class="font-over-white"><strong>Salvation for the anemic TR7.</strong>  A John’s Cars conversion will provide you with the <strong>oomph</strong> you deserve (more than a "TR8") and saves your Triumph from being on the way to the lonely boneyard.  Don’t feel as if British Leyland built the only four-cylinder Titanic, GM had the Vega.  Unfortunately your V6 TR7 will be shunned by its leaky, overheating ex-stablemates and you’ll lose favor with "friends" who will always be wanting to try out your toy.  The V6 TR7 defines <strong>performance</strong>, especially when you match up with a TR8 – just don’t take all his money – but dependability is what this swap is really all about, performance is a side effect!</p>
          <p> This conversion kit uses the rear-wheel drive 90° Buick V6 (sizes 199-231-252) with a Buick/GM 4 or 5-speed manual transmission, Turbo Hydra-matic 350 automatic or the 200-4R or 700R4 overdrive.  A converted TR7 is approximately 85 pounds heavier, so I supply a set of specially wound front springs. The center of gravity moves slightly rearward so handling is actually improved. </p>
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Click here to see more</a>
            <div id="collapseOne" class="panel-collapse collapse in">
                  <p>Kits include just about everything you’ll need to make it confidently prowl the streets:</p>
                  <ul>
                    <li>engine mounting brackets and rubber isolators</li>
                    <li>trans mount and crossmember</li>
                    <li>100% "plug-in" engine wiring harness (color coded to your TR7)</li>
                    <li>custom-made V6 front springs (pair)</li>
                    <li>radiator & heater hoses,filler neck and/or cap</li>
                    <li>throttle linkage</li>
                    <li>oil and water transmitter hookups</li>
                    <li>speedometer cable and calibration</li>
                    <li>tachometer calibration (send it to me)</li>
                    <li>comprehensive illustrated instructions</li>
                    <li>all the hardware to complete the transition</li>
                  </ul>
                  <p> Kit options include:</p>
                  <ul>
                    <li>A/C hoses – custom made and ready to install</li>
                    <li>tubing exhaust header set (non SMOG)</li>
                    <li>T700 adaptor plate</li>
                  </ul>
                  <p>The conversion is 100% bolt-in, no welding or drilling required.  The TR7 left engine mount (on the crossmember) must be trimmed off for oil pan clearance.  Triumph engineers were looking ahead when they laid out the large engine bay that provides plenty of room – so V6 tune-up, service, etc. is super easy.  The TR7 radiator in good condition is adequate.  Start to finish (exclusive of detailing, like painting the engine compartment) is 24-36 hours.</p>
                  <p>I do not offer, nor recommend (and I did research them when I was developing my TR7 conversion) other V6 or V8 engines for the TR7.  Take a look at a TR8 for an idea of "fun" maintenance.  The TR8 motor is 215 cubic inches versus the 231 or 252 CID V6.  The aluminum block/head 215 was made in the U.S.A. in the early 60s and parts for them are as scarce as TR7 parts.  British-Leyland bought it from Buick and used it in the TR8.  If you find the parts the same day you need them, what will they cost?  Most other V8s are cast iron and will make your front bumper a plow.  The Chevy V6 with a rear distributor interferes with the hood latch mechanism.  Availability of engines (and service parts) plus the large variety of performance parts makes the 90° Buick V6 the only logical choice.</p>
                  <p>Retaining TR7 underhood equipment will haunt you – you won’t find a TR7 alternator this Tuesday morning (or next) in Rising Star.  Use standard Buick brackets, it is the only way to fly.  If you think you want to keep the original transmission, price a used one to find out what it will cost when it goes sour.  Stock TR7 transmissions are very marginal and will not sustain a V6’s torque.  They are good salvage material so you can sell it to recover a portion of your conversion investment.  The brakes and rear axle are adequate for standard everyday use.</p>
                  <p>Read our <%= link_to "Customer Testimonials", root_path%> to hear what our customers think about us and our products.</p>
                  <div class="space-70"></div>

                  <div class="features" style="background-color: #800000; opacity: 0.8; border-radius: 25px;">
                    <h3 style="text-align: center; color: black;"> <strong>SUGGESTED BUY</strong></h3>
                    <p>If you want to know more about my conversion kit and the Buick V6, I offer a package to introduce both to you: a non-illustrated version of the conversion instruction manual (with inventory list) and V6 Performance, 125 pages of facts, figures, parts and more – both for $40.00.  When you buy your kit after reviewing this package, I’ll credit the $40.00 toward your kit purchase PLUS you’ll get the set of 6 Polyurethane Front Sway Bar bushings for FREE. </p>
                  </div>
                  <div class="space-70"></div>
                </div>
              </div>
            </div>
          </div>
  </div>
  <div class="space-70"></div>
</section>

<!-- Buick V6 Driveline Checklist -->
<section id="content-region-3-triumph" class="parallax-1">
  <div class="space-70"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 features" style="background-color: white; opacity: 0.8; border-radius: 25px;">
        <h3>Buick V6 Driveline Checklist</h3>
        <p>Below is a checklist for the motor, transmission and accessories you will need. Before we proceed, I have one recommendation to make:</p>
        <div class="col-md-2">
          <h4> JR'S TIPS </h4>
        </div>
        <div class="col-md-10">
          <h5> <strong> 	I recommend buying a COMPLETE "pull-out" driveline (with flywheel) and all the brackets, etc. intact from a rear wheel drive car.  Consider buying a complete 75-80 Monza, Skyhawk, Starfire, Sunbird, etc. for your powerplant and taking it all at once.   I do not stock new or used Buick parts. </strong></h5>
        </div>
        <div class="col-md-2">
          <h4> Buick V6 Motor: </h4>
        </div>
        <div class="col-md-10">
          <p> The rear-wheel drive Buick V6 has been available since 1964 in several body styles and displacements.  It is a 90° V6 with distributor at the front of the motor and came in both the ODD-FIRE and EVEN-FIRE variety.  Be sure you get the correct flywheel with your motor or you may have severe balance problems and <strong>beware</strong> – many parts will not interchange between the two.  More info in V6 Performance!  Late model V6 motors are fine <strong>if</strong> you have all the computer hookups or switch to earlier distributor and carburetor – add $100 to your V6 kit if installing a fuel injection V6.  The 3.0 V6 (front wheel drive) is not suitable.</p>
          <p>TURBO, TURBO, TURBO, the hottest five letter word around.  The Buick factory 231-4V Turbo motor (rear drive cars) fits under the hood (including smog) so you can be really sneaky.  I do not suggest the turbo as truthfully, it creates more go than most of us require but it will fit if you insist.  You will have to modify the TR7 fresh air intake plenum, relocate the V6 wastegate diaphragm and custom make an air filter assembly.  I cannot supply technical assistance for Turbo or computer set-ups due to the many variations offered. <strong>Sorry!</strong></p>
        </div>
        <div class="col-md-2">
          <h4> Transmission: </h4>
        </div>
        <div class="col-md-10">
          <p>I recommend an automatic for all V6 conversions, preferably the T700 overdrive.  Converting a manual shift TR7 to automatic trans is very easy with a GM shifter and console (application, part numbers and linkage supplied with the kit).  I <strong>strongly</strong> suggest you spend the extra bucks for an "overdrive" due to the low gearing and short tires of the TR7.  Although the T700R4 is a Chevrolet unit, it can be installed in your TR7 with the Buick V6 using my adaptor. </p>
          <p><strong>T700 Notes:</strong>   All T700's have torque-convertor lockup and it <strong>must be hooked up</strong> to prevent damage to the transmission.  John's Cars offers <strong>ELECTROLOCK™</strong>, the simple set-up to lock-up a T700 torque convertor for maximum fuel economy. Very easy to install – no drilling, tapping or machining required.  For T700 trans 1982 to 1992 (not 4L60E).  The kit can be installed with the trans in the car.  The higher stall speed torque converter like the Trans-Am or Z28/IROC are preferred and suggested.</p>
          <p>The T-5 or T-50 are 5-speed overdrive manual trans.  If you plan to use a manual transmission, please be sure to properly ID it as a T5 or T50 etc. or you may not get what you need the first time!  A sketch with the overall length is a good idea too.  Please call for more T5 quirks – remember I <strong>strongly</strong> suggest you spend the extra bucks for an "overdrive" trans due to the low gearing and short tires of the TR7.  <strong>Be sure</strong> your V6 flywheel correctly matches your V6 motor.  You will need a bellhousing from a 75 to 80 V6 Monza/Skyhawk/Starfire/Sunbird.  It is cable actuated.   The 4-speed and 5-speed bellhousings will interchange.  A T5 (5 speed) transmission will bolt to this bellhousing.  I do not have any bellhousings.  GM #1378868, Hollander #682.  S10 truck shifters will not work in a TR7.</p>
          <p>The GM T200-4R overdrive is another option (the T200 3-speed is not an option).  Originally installed in V8 Monte Carlos and behind many Buick powered models including the potent GN-X.  Most cases have dual bolt patterns.  It is a very cost effective alternative to the pricey T700R4.   <strong>ELECTROLOCK™</strong> works for the T200-4R.  Visit your transmission rebuilder first.</p>
        </div>
        <div class="col-md-2">
          <h4> Accessories: </h4>
        </div>
        <div class="col-md-10">
          <p>The stock GM alternator, A/C compressor (the short R4 will fit, the long A6 has not been verified) and fan clutch are retained.  Customized air cleaner or a Turbo Regal remote filter is required.  You need the right-hand exhaust manifold off a 80-81 Toronado/Rivera/Eldorado V6 (#25505920 or #1012R).  These are no longer available from GM.  You can use our kit header (not in California) or a Turbo Regal RH manifold (Hollanders #1061R) – simply cap off the extra outlet.  I do not have these parts, search your local yards.</p>
        </div>
        <div class="col-md-2">
          <h4> Note: </h4>
        </div>
        <div class="col-md-10">
          <p>If it is time for new shocks, I suggest installing them when you change springs to avoid duplicating labor.</p>
        </div>
        <div class="col-md-10 col-md-offset-2">
          <table class="table table-bordered">
            <thead>
              <th colspan=2 style="background-color: #800000; color: white;">Estimated Costs of Local Components</th>
            </thead>
            <tbody>
              <tr>
                <td>Engine, transmission and accessories</td>
                <td>$300.00 - $1000.00</td>
              </tr>
              <tr>
                <td>Miscellaneous, lube, etc.</td>
                <td>$20.00 - $30.00</td>
              </tr>
              <tr>
                <td>Radiator modification</td>
                <td>$30.00 - $50.00</td>
              </tr>
              <tr>
                <td>Driveshaft assembly</td>
                <td>$15.00 - $100.00</td>
              </tr>
              <tr>
                <td>Exhaust system hookup</td>
                <td>$40.00 - $100.00</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
  <div class="space-70"></div>
</section>

<!-- TR7 Conversion Kit Pricing -->
<section id="content-region-2" class="parallax-1">
  <div class="space-70"></div>
  <div class="space-70"></div>
  <div class="space-70"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 features" style="background-color: white; opacity: 0.8; border-radius: 25px;">
        <h3>TR7 Conversion Kit Pricing</h3>
        <table class="table table-bordered">
          <thead>
            <th style="background-color: #800000; color: white;">V6 TR7 Conversion Kit</th>
            <th style="background-color: #800000; color: white;">Price</th>
            <th style="background-color: #800000; color: white;">Freight</th>
          </thead>
          <tbody>
            <tr>
              <td>V6 TR7 Kit for...<br>
                  T350 or 4SP trans (no A/C hoses)<br>
                  T5 or T50 trans (no A/C hoses) <small><b>1</b></small><br>
                  T200-4R or T700 trans (no A/C hoses)</td>
              <td><br>
                  $670.00<br>
                  $720.00<br>
                  $795.00</td>
              <td><br>
                  $25.00<br>
                  $25.00<br>
                  $25.00</td>
            </tr>
            <tr>
              <td>Kit Options...<br>
                  A/C hoses ready to install <small><strong>5</strong></small><br>
                  V6 TR7 header set <small><strong>2</strong></small><br>
                  Tach Calibration (send complete dash module) <small><strong>3</strong></small>
              </td>
              <td><br>
                  $45.00<br>
                  $200.00<br>
                  $70.00
              </td>
              <td><br>
                  $5.00<br>
                  $15.00<br>
                  $6.00
              </td>
            </tr>
            <tr>
              <td>TR7 4-Speed Driveshaft Adaptor <small><strong>4, 5</strong></small></td>
              <td>$75.00</td>
              <td>$5.00</td>
            </tr>
            <tr>
              <td>V6 TR7 Spring Set for non-JCI V6 (non-returnable)</td>
              <td>$200.00</td>
              <td>$8.00</td>
            </tr>
            <tr>
              <td>Electrolock™ Torque Converter Lock-up Kit <small><strong>5</strong></small></td>
              <td>$85.00</td>
              <td>$5.00</td>
            </tr>
            <tr>
              <td>V6 Performance (125 pages)</td>
              <td>$17.95</td>
              <td>paid</td>
            </tr>
            <tr>
              <td>See more TR7 goodies for your TR7 below.</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td colspan=3><small><strong>1</strong></small>	For manual transmission orders please be sure to properly ID it as a T5 or T50 etc. or you may not get what you need the first time!   The S10 truck 5 speed shifter will not work.</td>
            </tr>
            <tr>
              <td colspan=3><small><strong>2</strong></small>	My headers are custom made for the V6 TR7.   Other V6 headers – Weiand (Smokey), Cyclone, Hooker, etc. will not fit.   Add $50.00 if your V6 is not a JCI kit.  I cannot guarantee fit on non-JCI conversions.  <strong>Headers are not California SMOG approved and therefore are NOT available for sale or shipment to California.</strong></td>
            </tr>
            <tr>
                <td colspan=3><small><strong>3</strong></small>	Tachometer Calibration is included with the kit - if you are not using a JCI kit, I can calibrate yours for $70.00.</td>
            </tr>
            <tr>
                <td colspan=3><small><strong>4</strong></small>	The Driveshaft Adapter is $100.00 if you are not using a JCI Kit.  The 4-speed and automatic TR7s have the small third member style rear axle.  The driveshaft adaptor is highly recommended because it allows use of a GM driveshaft with full size U-Joints.  Shortening a GM driveshaft costs $15-$30.  A mismatched combo of GM-TR7 driveshaft ($75-$150) keeps the puny TR7 U-joint which is the weak link.  Driveshaft hookup for large rear axle (5-speed cars) is included with the kit.</td>
            </tr>
            <tr>
                <td colspan=3><small><strong>5</strong></small>	Freight paid with kit order.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="space-70"></div>
</section>

<!-- How to Order -->
<section id="content-region-3-triumph" class="parallax-1">
  <div class="space-70"></div>
  <div class="space-70"></div>
  <div class="space-70"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 features" style="background-color: white; opacity: 0.8; border-radius: 25px;">
        <h3>How to Order</h3>
        <p>Complete the information on the V6 TR7 Conversion Kit Order Sheet and send it in with <strong>certified funds or money order</strong>.  No COD's, no credit cards, no personal or company checks will be accepted on kit orders. No exceptions!   The <%= link_to "V6 TR7  Conversion Kit Order Sheet", tr7s_path%> is an online form. Please complete the entire form and hit "Submit Order" at the bottom of the page when finished. Print it out from a Laser, LED or ink-jet printer only – dot matrix printer will be useless.  Make sure your print margins are set to .50 inches or it may not fit on a page. </p>
        <p>Please complete as much information as possible on the order sheet.  Especially important are the year, model, and vehicle ID number of your car, GM engine size, carburetion, transmission, if air-conditioned, tire size, and the rear axle ratio.   Please call if you have questions, blanks will delay your order.  <strong>KITS in STOCK and shipped upon receipt of funds</strong>.  Kit weighs approximately 53 pounds.  Kit components are not sold separately or in stages – only as a complete package.  Replacement parts are available of course, but only to verified kit customers.  <strong><em>Kits are not returnable</strong></em>.</p>
        <p>Please call for blue label (second day UPS service) or red label (next day UPS) and for freight charges outside Continental U.S.A.  Prices subject to change without notice.   All freight overages are credited to your account.  If you have any questions, please email them to tr7@johnscars.com.</p>
        <div class="col-md-10 col-md-offset-1 features" style="background-color: yellow; opacity: 0.8; border-radius: 25px;">
          <h3 style="text-align: center;"> <strong>CALIFORNIA:</strong></h3>
          <p>The headers for this conversion were not CARB approved.  However, in January 1998 sanity prevailed and the emission laws changed, and now imply that all cars 25 or more years old are exempt from emissions standards.  This would mean pre-1974 TR7's would be eligible to use our headers - please check with your local authorities! </p>
        </div>
        <div class="space-70"></div>
      </div>
    </div>
    </div>
  </div>
  <div class="space-70"></div>
</section>

<!-- TR7 Customer Testimonials -->
  <div class="row">
    <div class="space-70"></div>
    <div class="col-md-12" style="background-color: #555;">
    <div class="col-md-10 col-md-offset-1" >
      <h3 style="text-align: center;"> <strong>TR7 Customer Testimonials</strong></h3>
      <p>Engine and trans are now in car and I am hooking stuff up. Everything fits!!! I'm very pleased with kit. Thanks (TR7)..... Dave Burton, Charlotte, NC.</p>
      <p>Enclosed are photos of our TR7 with the Buick 231 everything is complete and runs very well. The swap was rather easy and all parts we needed were in the kit. The power is unreal compared to the original engine. Feel free to give my name to any people that ask about your kit; I am very satisfied with it..... Larry Mizelle, Temperance, MI. </p>
      <p>I agree with you. Price is secondary if you can get quality, service and knowledge!!! (TR7 & XJ6)..... Mike Bancerowski, Fayetteville, AR. </p>
      <p>You saved my TR7. I take off my hat to you..... Gary Raynes, Suffield, CT. </p>
      <p>I'd just like to compliment you on an excellent kit; we had no problems. (TR7)..... Mike Duffel, Willingboro, NJ. </p>
      <p>I have been impressed with the completeness of the kit. As I told you, I tend to spend quite a bit of armchair time planning before I turn a wrench. (TR7)..... Lonny Wall, Edmond, OK. </p>
      <p>Still have doubts?  Read more <%= link_to"Customer Testimonials", root_path%> about John's Cars.</p>
    </div>
    </div>
    <div class="space-70"></div>
  </div>

<!-- TR7 Parts -->
<section id="content-region-2" class="parallax-1">
  <div class="space-70"></div>
  <div class="space-70"></div>
  <div class="space-70"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 features" style="background-color: white; opacity: 0.8; border-radius: 25px;">
        <h3>TR7 Parts</h3>
        <p>We carry a <strong>small</strong> selection of TR7 suspension, electrical and brake parts...  Here are a few.</p>
        <table class="table table-bordered">
          <thead>
            <th colspan=2> TR7 Parts </th>
            <th> Price</th>
            <th>Freight</th>
          </thead>
          <tbody>
            <tr>
              <td class="col-md-2">PERF10 <small><strong>6, 7</small></strong></td>
              <td class="col-md-6">Polyurethane – the trick setup for TR7 cars in the suspension department.  This 10 bushing set services front control arms and all four rear axle locating links.  Stops rear axle steer.</td>
              <td class="col-md-2">$115.00</td>
              <td class="col-md-2">$5.00</td>
            </tr>
            <tr>
              <td>PERF6 <strong><small>6, 7</small></strong ></td>
              <td>Polyurethane – the trick setup for TR7 cars in the suspension department.  This 6 bushing set services the front sway bar.</td>
              <td>$45.00</td>
              <td>$5.00</td>
            </tr>
            <tr>
              <td>ANTIDIVE <strong><small>7</small></strong></td>
              <td>Antidive kit for the TR7.  This 20 minute bolt-in works for all TR7 and TR8 cars to reduce the nose down attitude under hard deceleration.</td>
              <td>$30.00</td>
              <td>$5.00</td>
            </tr>
            <tr>
              <td>QSJ718</td>
              <td>Lower Ball Joint (two required).</td>
              <td>$19.00</td>
              <td>$5.00</td>
            </tr>
            <tr>
              <td>QR1556</td>
              <td>Tie Rod End (pair).</td>
              <td>$15.00</td>
              <td>$5.00</td>
            </tr>
            <tr>
              <td>CRC307</td>
              <td>Lower Front A-Arm bushing (need two per car) – stock TR7 (not polyurethane).</td>
              <td>$17.93</td>
              <td>$5.00</td>
            </tr>
            <tr>
              <td>TR7FRONT <strong><small>7</small></strong></td>
              <td>Front KYB Shocks (pair).</td>
              <td>$105.00</td>
              <td>$9.00</td>
            </tr>
            <tr>
              <td>UKC4981	</td>
              <td>Shock Boot – you can’t do it later (each).</td>
              <td>$32.22</td>
              <td>$5.00</td>
            </tr>
            <tr>
              <td>TR7REAR <strong><small>7</small></strong></td>
              <td>Rear KYB Shocks (pair).</td>
              <td>$95.00</td>
              <td>$9.00</td>
            </tr>
            <tr>
              <td>TKC3300</td>
              <td>TR7, TR8 all years new rear SPRINGS (pair).</td>
              <td>$90.00</td>
              <td>$10.00</td>
            </tr>
            <tr>
              <td colspan=4> <strong><small>6</small></strong>	I strongly suggest the polyurethane suspension bushing set. Designed for rally cars, they absolutely stop rear axle steer and don’t ruin the ride! Two front and eight rear bushings are supplied. A must for TR8s too. Put the front bushings in before installing the V6 as you’ll have the bolts out for the mounts. Rear bushings can be done anytime.</td>
            </tr>
            <tr>
              <td colspan=4> <strong><small>7</small>	JR's DEAL!</strong> I'll pay the freight on these items if you order them <strong>WITH</strong> your kit.  If you order them later, no deal.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
