<div class="space-70"></div>
<div class="container">
<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h1 class="panel-title">
          <strong>XJ6 Quarterbreed</strong>
      </h1>
    </div>
    <p>
      John's Cars is the home of halfbreeds – those wonderfully English cars with American drivelines.  While not everyone loves my V8 conversions, most loathe the Borg-Warner (BW) automatic transmission.  Time for another John's Cars exclusive retrofit:
    </p>
    <p>
      Jaguar Body	+	Jaguar Motor	+	<strong>GM Transmission</strong>	+	Jaguar Suspension	=	<strong>QUARTERBREED (QB)</strong>
    </p>
    <p>
      <strong>Which Jaguars are compatible with this conversion?</strong>
    </p>

    <p>
      XJ6 Quarterbreed kits are for all 68 to 87 XJ6 models (XJ6, XJ6C, XJ6L). Kits for XJ12, XJS, Mark I, II, IX or X are available too.  No kits for ETypes yet. The Jaguar T400 from later V12 engines and the German ZF transmission on 1988-on XJ6's (XJ40) will not bolt to a pre-88 Jaguar 6-cylinder nor to early V12s equipped with a Borg-Warner. There's never been a GM trans behind a Jaguar 6-cylinder until John's Cars Quarterbreed.
    </p>
    <p>
      <strong>Why should I put a GM Transmission in my XJ6?</strong>
    </p>
    <p>
      The archaic, light duty BW (derived from a 1962 Rambler design) and its idiosyncrasies are expelled by a GM Turbo Hydra-matic (THM) transmission. Prime benefits of the Quarterbreed conversion:
    </p>
    <ul>
      <li>Strong and reliable – Jaguar uses a GM THM in their later V12 cars, Rolls-Royce has used them since 1969.</li>
      <li>Quarterbreed cars are quicker – less mass, better gear ratios and stall speeds. They also have consistent upshift and downshift characteristics.</li>
      <li>Older Jaguars with a 3.08, 3.31 or 3.54 rear axle ratio really benefit from a GM overdrive, relaxing a buzzy 3000 RPM cruising speed to a calming 2100+.   Lower RPM means better gas mileage and less engine wear and tear.</li>
      <li>Years later – if your Quarterbreed needs tranny service in Bass Lake, CA., you can have it repaired for a fraction of the BW price tag, not to mention the same day.</li>
      <li>Faster Starts – the GM flywheel-starter combination creates more torque and cranks faster... Plus you'll eliminate the death rattle flywheel and the $$$ Lucas (Prince of Darkness) starter.</li>
      <li>Finally, when your cat finally uses up all 9 lives and it’s time for a V8 – you will already have the transmission, starter and more. I will even allow you $200.00+ for the QB kit leftovers returned when you go Chevy V8.</li>
    </ul>
    <p>
      The Jaguar twin cam 6-cylinder is retained without modification to it or the car.  The shifter retains its original appearance.  Check out our <%= link_to "Customer Testimonials", root_path%>.
    </p>
    <p>
      <strong>Which transmission should I use?</strong>
    </p>
    <ul>
      <li>T350 for 1982 to 1987 Jags (with a 2.88 differential). Inexperienced drivers can lug the Jag motor (258 CID) when combined with a T700 30% overdrive and a 2.88 rear end.</li>
      <li>T700 overdrive for pre-1982 cars (with a 3.08, 3.31 or 3.54 differential) to reduce cruising RPM.</li>
      <li>T400 is not recommended as it is more involved and not necessary for the horsepower/torque of a 4.2L.</li>
      <li>Don't use a 4L60E or 4L80E on your Quarterbreed.</li>
    </ul>
    <p>
      <strong>What is included in the kit?</strong>
    </p>
    <ul>
      <li>block to transmission adapter</li>
      <li>crankshaft adapter</li>
      <li>transmission crossmember and mount</li>
      <li>automatic flywheel</li>
      <li>shifter linkage</li>
      <li>speedometer hookup and calibration</li>
      <li>transmission cooler lines</li>
      <li>all the hardware</li>
      <li>my infamous instructions!</li>
      <li>100% bolt-in, of course.</li>
    </ul>
    <p>
      You furnish the GM transmission with torque-converter and starter (see the checklist on the next page). Modify your driveshaft or we have driveshafts ready to install. Quarterbreed installation time is 5 to 10 hours – you do not have to remove the motor.  All the particulars are supplied in the instructions.  Check out the particulars in the Quarterbreed Quick Start below.
    </p>
    <p>
      <strong>How much is an XJ6 Quarterbreed Kit?</strong>
    </p>
    <table class="table table-bordered">
      <thead>
        <th colspan=3> XJ6 Quarterbreed Conversion Kits</th>
      </thead>
      <tbody>
        <tr>
          <th> Jaguar Model </th>
          <th> T350 Trans</th>
          <th>T700 Trans <small>3</small></th>
        </tr>
        <tr>
          <td>1969 to 1982 XJ6/XJ6C/XJ6L <small>1</small></td>
          <td>$495.00</td>
          <td style="background-color: yellow;"><strong>$545.00</strong></td>
        </tr>
        <tr>
          <td>1982 to 1987 XJ6 <small>1</small></td>
          <td style="background-color: yellow;"><strong>$595.00</strong>	</td>
          <td >$645.00</td>
        </tr>
        <tr>
          <td>Driveshafts ready to install<small>1, 2</small></td>
          <td>$165.00</td>
          <td>$165.00</td>
        </tr>
        <tr>
          <td colspan=4>
            <p>Highlighted cells are suggested Jaguar Model & GM Transmission combinations</p>
            <p> <small>1</small>	Prices include ground freight. Hawaii freight: add $35.00 for kits, $20.00 for driveshafts.</p>
            <p>Overnite freight to all 50 states: add $40.00 for kits.  Call or email for freight overseas.</p>
            <p> <small>2</small>	Return your leftover front driveshaft with yoke and flange for a $40.00 credit.</p>
            <p> <small>3</small>	On T700 applications, manual low is not selectable because the XJ6 shifter does not have enough travel - just like the newer XJ6, GM police cars, and all Fords.</p>
            </td>
        </tr>
      </tbody>
    </table>
    <p>
      <strong>How To Order</strong>
    </p>
    <p>
      Please fill out the XJ6 Quarterbreed Conversion Kit Order Sheet completely, <strong>sign it</strong>, and return it with a money order or cashiers check (no personal checks and no company checks).  We do not accept credit cards on kits.  We do not ship kits COD nor do we accept credit cards on kits.  <strong><em>No exceptions!</em></strong>   Especially important are the VIN, engine number on the driver's side of the bellhousing flange, and the year of the GM transmission.  <strong>KITS are in STOCK and shipped upon receipt of funds.</strong>
    </p>
    <p>
      The XJ6 Quarterbreed Conversion Kit Order Sheet is a JPEG image (about 185K) so it will take a minute or so to load.   Print it out from a Laser, LED or ink-jet printer only – dot matrix printer will be useless.  Make sure your print margins are set to .50 inches or it may not fit on a page. If you have any questions, please email them to qbxj6@johnscars.com.
    </p>

    <p>
      <strong>1969 to 1979 XJ6:</strong>  Please call before ordering the T700 as slight mods are necessary on some combinations.
    </p>

    <p>
      Also, transmissions with a lock-up torque convertor require additional attention - see Lockup Transmission opposite.
    </p>

    <p>
      <em><strong>Note:</strong> Given the proprietary nature of my conversion kits, I do not allow the return of a conversion kit for any reason.</em>
    </p>
    <p>
      <strong>Quarterbreed Quick Start</strong>
    </p>
    <p>
      Here is a detailed check list for the items you furnish – another 30 minutes now could save you hours later!  Start gathering what you need TODAY and order your Quarterbreed kit when you’re ready to roll!!! Preparation is the key to make things flow smoothly.  Knowing what you are going to get before ordering will make both our lives simpler.  Note:  John's Cars does not sell GM transmissions – they are readily available from your local rebuilder.  Hot rod transmissions are not needed or recommended in keeping with the character of a luxury car.  I do not recommend any kind of shift improver kits -- you don't want slam shifts that spill your coffee -- Stock GM is the quality you want.
    </p>
</div>
  <div class="space-70"></div>
  <div style="border-radius: 15px; border-color: red; border-style: solid; color: black; padding: 10px;">
    <h3 style="text-align: center;">
       <strong>JR's Tip</strong>
    </h3>
    <p>
    Whether this is your first project or you are a seasoned professional, I wanted to make sure you understand that you don't have to remove the motor to install in your Quarterbreed.  Many manuals say that pulling the motor is the only way to change the transmission!  It simply isn't true – you can do a Quarterbreed in 7 to 12 hours.  No modifications/machining to the block or crankshaft are required.
    </p>
  </div>
  <div class="space-70"></div>
  <div class="panel panel-default">
    <div class="col-md-2">
      <h4> <strong>GM Trans:</strong> </h4>
    </div>
    <div class="col-md-10">
      <p>GM Turbo Hydra-matic transmission – brief ID course:</p>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-10">
      <table class="table">
        <tr>
          <td>T</td>
          <td>Turbo Hydra-matic (THM)</td>
        </tr>
        <tr>
          <td>T200</td>
          <td>No separate tailhousing, light duty 3-speed, <em>not suitable</em></td>
        </tr>
        <tr>
          <td>T200-4R </td>
          <td>No separate tailhousing, 4-speed overdrive (.67:1), no modulator</td>
        </tr>
        <tr>
          <td><strong>T350</strong></td>
          <td><strong>Four bolt tailhousing, 3-speed, vacuum modulator at rear of case</strong></td>
        </tr>
        <tr>
          <td>T400</td>
          <td>Six bolt tailhousing, super duty 3-speed, vacuum modulator near filler tube</td>
        </tr>
        <tr>
          <td><strong>T700-R4 </strong></td>
          <td><strong>	Four bolt tailhousing, 4-speed overdrive (.70:1), no modulator, AKA T700, 4L60 (not Corvette)</strong></td>
        </tr>
        <tr>
          <td>4L60E</td>
          <td>Electric shift version of T700, must have a computer to operate</td>
        </tr>
        <tr>
          <td>4L80E</td>
          <td>Six bolt tailhousing, super duty 4-speed (.75:1), no speedo, computer required</td>
        </tr>
      </table>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-10">
      <p>
        Remember that the transmission type must be the same as you originally ordered or else the shifter, mounts, speedo, etc. are not going to work properly. The adaptor plate is drilled for Chevrolet or BOP (Buick, Olds, Pontiac) transmission cases. Inspect the GM bellhousing for cracks around bolt mounting holes and for damaged dowel pin holes. Inspect shift shaft where the shift lever attaches (make sure you have the shift shaft nut). Check the threads where the transmission mount bolts to the bottom of the case for damage. Make sure the transmission oil cooler fittings are in the GM case and are tight. Check case vent, modulator and modulator line as applicable. <strong>Note:</strong> The T700/4L60 Corvette trans does not have a transmission mount on the case – not suitable.
      </p>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-10">
      <p>
        <strong>Lockup Transmissions:</strong> Transmissions that come with the torque-convertor lockup feature must be hooked up to prevent damage to the transmission. All T700 have torque-convertor lockup. Late model T350 transmissions were available with lockup torque convertors and can be identified by a blue 2 terminal connector on the left hand side of the case. John's Cars offers ELECTROLOCK™, the simple set-up to lock-up a T700 torque convertor for maximum fuel economy. Easy to install - no drilling, tapping or machining required. For T700 trans 82 to 92 (not 4L60E). The kit can be installed with the trans in the car. <strong>ELECTROLOCK™ </strong>is 85.00. If you are buying a rebuilt transmission with torque convertor lockup, tell them you want the trans to lockup on it own and they will do it (and you won't need Electrolock™).
      </p>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-10">
      <p>
        <strong>Tailhousing:</strong> Inspect your tailhousing for wear inside the speedo gear hole – it should be polished but it must not be grooved or the speedo gears will fail. You'll need the matching speedo sleeve retainer.
      </p>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-10">
      <p>
        <strong>T350 with 6" Tailhousing Notes:</strong> You must have the tailhousing with the small (13/16") speedometer gear hole GM #464193 to use the speedometer gears furnished in the kit. Exchange a tailhousing with large speedo hole for one with a small hole when buying your transmission or I can supply a refurbished tailhousing with new bushing and seal for $25.00, JCI Part #6"TAIL.
      </p>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-10">
      <p>
        <strong>Torque-convertor and bolts:</strong>  I recommend a torque-convertor with a higher stall speed (from a fuel injected Camaro or Trans Am). The torque-convertor should be a balanced unit when you buy a rebuilt. Not all companies balance them. Be sure! Get the proper hardware (3 bolts) to attach the convertor to the flywheel – bolts are either 3/8 NC #3987930 or metric #1261968.
      </p>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-10">
      <p>
        <strong>Misc:</strong>When buying your trans, make sure you get a speedo clip (#6261781). If you use a T700, you also need a holddown yoke (#1254856).
      </p>
    </div>
  </div>
  <div class="space-70"></div>
  <div style="border-radius: 15px; border-color: red; border-style: solid; color: black; padding: 10px;">
    <h3 style="text-align: center;">
       <strong>JR's Tip</strong>
    </h3>
    <p>
      1) Buy the torque convertor from the same guy as your transmission. 2) If you are buying a rebuilt transmission with torque convertor lockup, tell them you want the transmission to lockup on its own. 3) When you buy a rebuilt transmission, you'll get the case and guts only – cables, bolts, etc. will be up to you. I've listed most items here but I'm not there to know every detail. Most often they will give you things like the speedo clip #6261781 or T700 holddown yoke #1254856, but you've got to ASK! Most 1980 trans are metric – all T700 are metric.
    </p>
  </div>
</div>
