<br><br><br><br>
<div class="container">
  <p> Your 12 Quarterbreed form was generated correctly. <%= link_to "Click Here", print_quarterbreeds_pdf_path(@quarterbreed.id, format: :pdf) %> to print your order form. </p>
  <br><br>
  <p> Need to Edit your V12 Quarterbreed order form? <%= link_to "Click Here", edit_quarterbreed_path(@quarterbreed.id) %> to edit your form. </p>
</div>
