body {
  background-color: #ECF0F1;
  font-size: 15px;

}
.default-form {
  background: #2C3E50;
  line-height: 50px;
  vertical-align: middle;
  color: #ECF0F1;
}

label .collection_radio_buttons {
  margin-left: 10px;
  margin-right: 10px;
}

.pic {
  width: 10%;
  height: 10%;
}

.box {
  border: black 4px solid;
}

.page-break-before {
  @media print {
    display: block;
    page-break-before: always !important;
    background-color: none !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    font-size: 12px;
    float:none
}
}

.page-break-after {
  @media print {
  display: block;
  page-break-after: always;
}
}

 .printable-table{
   table tbody tr td {
     padding: 5px;
     font-size: 12px;
    }
 }
 .center {
   text-align: center;
   text-decoration: underline;
 }

 .height {
   height: 150px;
 }

 .p-form {
   padding-top: 25px;
 }
 h2 {
   text-decoration: underline;
 }
 .panel {
   padding: 25px;
 }
 .col-md-4 {
   padding-left: 5px;
   padding-right: 5px;
 }

 .print-form {
  font-size: 12px;
  line-height: 12px;
  color: black;
  h3 {
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  h4 {
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  table {
    margin-bottom: 5px;
  }
}

.car-pic {
  padding-top: 70px;
}

.small-text {
  font-size: 9px;
}

.hidden-print {
  @media print {
  display: none;
  }
}

#background-gris {
  background-color: #555;
  padding: 80px, 0;
}

.hint {
  color: #00008B;
}

.navbar-no-margin {
  margin-bottom: 0px;
  background-color: red;
}
.font-over-white {
  color: red;
  font-family: sans-serif;
  weight: 600;
  font-size: 13px;
}

#content-region-3-triumph {
  background: image-url("jag_car.png") no-repeat;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.pdf-page-break-before {
  display: block;
  page-break-before: always !important;
  background-color: none !important;
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  font-size: 12px;
  float:none
}
