.default-form {
  background: #2C3E50;
  line-height: 50px;
  vertical-align: middle;
  color: white;
}

label .collection_radio_buttons {
  margin-left: 10px;
  margin-right: 10px;
}

.pic {
  width: 10%;
  height: 10%;
}

.box {
  border: black 4px solid;
}

.table {
   padding: 0 !important;
}
