body {
  background-color: #ECF0F1;
}
.default-form {
  background: #2C3E50;
  line-height: 50px;
  vertical-align: middle;
  color: #ECF0F1;
}

label .collection_radio_buttons {
  margin-left: 10px;
  margin-right: 10px;
}

.pic {
  width: 10%;
  height: 10%;
}

.box {
  border: black 4px solid;
}

.page-break-before {
  @media print {
  display: block;
  page-break-before: always;
}
}

.page-break-after {
  @media print {
  display: block;
  page-break-after: always;
}
}
//
// .table  tbody  tr  td.data-height{
//   padding: 6px;
// }
//
// .table thead tr th {
//   padding: 1px;
// }
// .table thead tr td {
// padding: 1px;
// }
//
// .table  tbody  tr  th{
//  padding: 1px;
// }
// .table  tbody  tr  td{
//  padding: 1px;
// }

 // .table tbody tr td {
 //   background-color: red;
 //   padding: 3px;
 //   font-size: 14px;
 //
 // }
 .printable-table{
   table tbody tr td {
     padding: 5px;
     font-size: 14px;
    }
 }
 .center {
   text-align: center;
   text-decoration: underline;
 }

 .height {
   height: 150px;
 }

 .p-form {
   padding-top: 25px;
 }
 h2 {
   text-decoration: underline;
 }
 .panel {
   padding: 25px;
 }
 .col-md-4 {
   padding-left: 5px;
   padding-right: 5px;
 }

 .print-form {
  font-size: 14px;
  line-height: 12px;
  h3 {
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  table {
    margin-bottom: 5px;
  }
}

.car-pic {
  padding-top: 70px;
}

.small-text {
  font-size: 9px;
}

.hidden-print {
  @media print {
  display: none;
  }
}
