<br><br><br><br>
<div class="container">
  <p> Your Mark Quarterbreed Order form was generated correctly. <%= link_to "Click Here", print_mark_quarterbreeds_pdf_path(@mark_quarterbreed.id, format: :pdf) %> to print your order form. </p>
  <br><br>
  <p> Need to Edit your Mark Quarterbreed order form? <%= link_to "Click Here", edit_mark_quarterbreed_path(@mark_quarterbreed.id) %> to edit your form. </p>
</div>
