<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h1 class="panel-title"><strong>Which transmission is best for my conversion?</strong></h1>
    </div>
    <div class="col-md-8">
      <p> Transmission selection has more opinions than the size of the V8 you should use. Briefly, I suggest a...</p>
      <p>T350 for post-80 cars (with a 2.88 differential)</p>
      <p>T700 overdrive for pre-1980 cars</p>
      <p>T400 for super duty applications.</p>
      <p> <strong>2.88 Jags:</strong>  If your V8 comes with a T700, but your Jaguar has the high ratio rear end, go ahead and use it... don't spend your time and money exchanging it for the T350.</p>
    </div>
    <div class="col-md-4" style="border-radius: 15px; border-color: black; border-style: solid; color: black; padding: 10px;">
      <p><strong>NOTE:</strong> If you are not ready for a full conversion, I offer Quarterbreed – a GM transmission behind a Jaguar 6-cylinder or V12 engine... and when you’re ready for the V8, send in your leftover Quarterbreed parts and I’ll credit part of them towards the V8 conversion.</p>
    </div>
    <br>
    <div class="col-md-4" style="border-radius: 15px; border-color: black; border-style: solid; color: black; padding: 10px;">
      <%= link_to "Quarterbreed for the XJ6", root_path %><br>
      <%= link_to "Quarterbreed for the XJ12", root_path %><br>
      <%= link_to "Quarterbreed for the XJS", root_path %>
    </div>
    <div class="col-md-2"><h4>T350</h4></div>
    <div class="col-md-10">
      <p>The T350 was introduced in the mid 60s and underwent the same woes as the early T700. No amount of testing will replace what the public can do – the 5 million miles of XJ40 testing didn’t uncover the surprises found in the real world. The T350 trans is ideal for the horsepower/weight combination of the XJ Series with a Chevrolet V8 and 2.88 rear axle.</p>
    </div>
    <div class="col-md-2"><h4>T400</h4></div>
    <div class="col-md-10">
      <p>The time honored T400 is not required unless you have a big block, hot rod small block or plan on towing a trailer. Installing a T400 with the V8 does not make anything easier/harder/handier. The Jaguar version of the T400 <em>will not</em> bolt to any GM engine. </p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <p><strong>V12/T400 Note:</strong>  If you have a V12 with the Jaguar T400, we have developed an adapter plate and associated hardware so you can reuse the Jaguar T400 behind the Chevy V8.  This is called the <strong>J400</strong> upgrade and is $250.00. You will also need to purchase a torque converter and starter seperately. </p>
    </div>
    <div class="col-md-2"><h4>T700 <small>(AKA T700R4)</small> <br>4L60 <br>4L60E</h4></div>
    <div class="col-md-10">
      <p>The T700 transmission is GM’s automatic overdrive unit introduced in 1982. Although skepticism was high, I installed a T700 in the first Series 3 car I converted that same year. After 90,000 miles in three years I was convinced enough to endorse it and in 1992 it was still going strong with 135,000 miles.  Why am I pro 700? The 30% overdrive reduces cruising RPM and thus wear and tear on the   engine/accessories. </p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <p>All T700's have torque-convertor lockup and it <strong>must be hooked</strong> up to prevent damage to the transmission.  </p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <p>If you are using a T700/4L60 with any GM Fuel Injection V8 (TBI, TPI, LT-1, or Vortec), the computer should be able to control the torque-converter lockup on the transmission.   Also, Electronic Carburetted Quadrajets with Electronic Spark Control (ESC) will operate a T700 lockup.  The 4L60E is the electronic version of the T700 and requires a FI computer to operate at all.  A VSS is required for the the FI computer to operate properly, and you will need a JCI VSS Buffer Box to provide the proper signals to Jaguars with electronic speedometers. </p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <p>If you are using a T700/4L60 with a regular carburettor or aftermarket system with no provision for T700 lockup, modifications <strong>ARE</strong> necessary as the T700 was designed to function with GM’s engine management system. John’s Cars has developed Electrolock™, a lockup kit for the T700 transmission optimized for our V8 installations without the complicated computers. The kit with JCI instructions is $85.00 (this is not included in the T700 upgrade). Operation of the T700 without modification will definitely shorten trans life. </p>
    </div>
    <div class="space-70"></div>
      <p> <%= link_to "Back to top", anchor: ("triumph_top")%>
  </div>


</div>
