<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h1 class="panel-title"><strong>How much will a used Chevy driveline cost me?</strong></h1>
    </div>
    <p>Suggestions that will save you time, money, and anguish:</p>
    <ul>
      <li>Buy a <strong>COMPLETE</strong> "pull out" engine with transmission and all accessories as a package – buy the entire car if you have too!  This is especially important on Fuel Injections motors – you’ll need the ECM, harness, relays, fan(s), etc.</li>
      <li>Use a carburetted motor for the simplest installation and maintenance.</li>
      <li>Use a small block engine – big blocks are nice, but they require more attention and the resale of your Jaguar will be limited to the performance oriented buyer.</li>
      <li>Truck TBI motor accessories will not clear an XJS hood, use passenger car setups instead.</li>
    </ul>
    <p> Here are some estimates for a used Chevy engine and transmission assembly and other items not included.</p>
    <div class="col-md-8 col-md-offset-2">
      <table class="table table-bordered">
        <thead>
          <th colspan=2 style="background-color: #800000; color: white;" class="text-align: center">Estimated Costs of Local Components</th>
        </thead>
        <tbody>
          <tr>
            <td> Engine, trans and accessories</td>
            <td>$500.00 - $1500.00</td>
          </tr>
          <tr>
            <td> ...Fuel Injection Stuff add	</td>
            <td>$1000.00 - $1500.00</td>
          </tr>
          <tr>
            <td> Miscellaneous, lube, etc.	</td>
            <td>$20.00 - $50.00</td>
          </tr>
          <tr>
            <td>Radiator original modification	</td>
            <td>$50.00 - $100.00</td>
          </tr>
          <tr>
            <td>Driveshaft assembly	</td>
            <td>$50.00 - $150.00</td>
          </tr>
          <tr>
            <td>Exhaust system hookup	</td>
            <td>$50.00 - $200.00</td>
          </tr>
          <tr>
            <td>Fan or shroud	</td>
            <td>$555.00 - $150.00</td>
          </tr>
          <tr>
            <td colspan=2>Ready to install radiators, fan shrouds, and driveshafts are available in the ONE STOP SHOPPING DEAL below!</td>
          </tr>
        </tbody>
      </table>
    </div>


    <div class="space-70"></div>
      <p> <%= link_to "Back to top", anchor: ("triumph_top")%>
  </div>
</div>
