<div class="space-70"></div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h1 class="panel-title">
        <strong>E-Type (1961 to 1974)</strong>
      </h1>
    </div>
    <div class="row">
      <div class="col-md-3 services-icon">
        <%= image_tag("e-type.png", :class => "car-pic text-center") %>
      </div>
      <div class="col-md-9 services-text">
        <br>
        <p>
          The sexiest car ever made is even more fun with a V8 under the hood.  Make it a daily driver rather than a toy for the weekends.
        </p>
      </div>
    </div>
    <div class="row">
      <div class=" col-xs-6 col-sm-4 col-sm-offset-3">
        <div class="services-box-smaller" >
          <h5><%= link_to "V12 E-Type to Chevy V8 Conversion", root_path%></h5>
        </div><!--services box-->
      </div> <!--col 6-->
      <div class="col-xs-6 col-sm-4">
        <div class="services-box-smaller">
          <h5><%= link_to "6-cylinder E-Type to Ford V8 Conversion", root_path%></h5>
        </div><!--services box-->
      </div><!--col 6-->
    </div><!--row-->
    <div class="row">
      <div class=" col-xs-6 col-sm-4 col-sm-offset-3">
        <div class="services-box-smaller" >
          <h5><%= link_to "E-Type Parts", root_path%></h5>
        </div><!--services box-->
      </div> <!--col 6-->
    </div><!--row-->
  </div>
</div>
