<div class="space-70"></div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h1 class="panel-title">
        <strong>Mark Sedans (1955 to 1969)</strong>
      </h1>
    </div>
    <div class="row">
      <div class="col-md-3 services-icon">
        <%= image_tag("mark_sedans.png", :class => "car-pic") %>
      </div>
      <div class="col-md-9 services-text">
        <br>
        <p>
          The ancestors of the XJ Sedan, these classics suffer from many of the same motor and transmission woes of its descendants.  The Mark came in several models, including the Mark I, II, IX, X, 240,340, 420 and S-Types.
        </p>
      </div>
    </div>
    <div class="row">
      <div class=" col-xs-6 col-sm-4 col-sm-offset-3">
        <div class="services-box-smaller" >
          <h5><%= link_to "Mark GM V6 Conversion", root_path%></h5>
        </div><!--services box-->
      </div> <!--col 6-->
      <div class="col-xs-6 col-sm-4">
        <div class="services-box-smaller">
          <h5><%= link_to "Mark Quarterbreed", root_path%></h5>
        </div><!--services box-->
      </div><!--col 6-->
    </div><!--row-->
    <div class="row">
      <div class=" col-xs-6 col-sm-4 col-sm-offset-3">
        <div class="services-box-smaller" >
          <h5><%= link_to "Mark Parts", root_path%></h5>
        </div><!--services box-->
      </div> <!--col 6-->
    </div><!--row-->
  </div>
</div>
