<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h1 class="panel-title"><strong>What is INCLUDED in a John’s Cars conversion kit?   </strong></h1>
    </div>
    <p>The JCI "Regular Kit" is the most complete kit available and contains well over 100 pieces including: </p>
    <ul>
      <li>Front isolators (engine rubber mounts) and mounting brackets (patent pending) with hardware Transmission mount and crossmember</li>
      <li>Shift linkages</li>
      <li>Engine function wiring harness – custom made, 100% "plug-in" and color coded to your Jaguar Power steering pressure and return hoses</li>
      <li>A/C hoses – custom made with crimped collars (no hose clamps to cut yourself on), Schrader fittings (charging ports) where you can get to them, and barrier hose (compatible with Freon 12 and R134A)</li>
      <li>Radiator filler neck, cap, heater hoses and fittings</li>
      <li>Accelerator linkage</li>
      <li>Oil and temperature fittings/senders</li>
      <li>Speedometer hookup and calibration</li>
      <li>Miscellaneous hoses, clamps, adapters, spacers, hardware, etc.... EVERYTHING!</li>
      <li>Illustrated, step by step INSTRUCTIONS</li>
    </ul>
    <p>I  also electroplate (black) most parts so you won’t spray paint your fingers. My kit parts are not sold separately to prevent outlaws from misrepresenting cars as having John’s Cars Conversion. Small Block kits are also available for right hand drive cars.</p>
    <p>Our kits even include <strong>safety</strong> items that Jaguars don’t:</p>
    <ul>
      <li>an overheat circuit to turn on a warning light if someone neglects the temperature gauge</li>
      <li>a fusible link protecting the wiring in case of an electrical malfunction as many of the circuits in your sedan are not fuse protected and stay "hot" even when you are away from the car.</li>
    </ul>
    <p><em>Want even more?</em> We offer:</p>
    <table>
        <thead>
          <th colspan=2 style="background-color: #800000; color: white;" class="text-align: center">ONE STOP SHOPPING DEAL</th>
          <tbody>
            <tr>
              <td>The One Stop Shopping Deal (OSD) furnishes it all READY TO INSTALL so you or your mechanic don’t have any geese to chase. It includes:</td>
            </tr>
            <ul>
              <tr>
                <td><li>John’s Cars "Regular Kit"</li></td>
              </tr>
              <tr>
                <td><li>Heavy duty radiator</li></td>
              </tr>
              <tr>
                <td><li>Fan shroud as required</li></td>
              </tr>
              <tr>
                <td><li>Driveshaft</li></td>
              </tr>
              <tr>
                <td><li>Tachometer calibration and return freight</li></td>
              </tr>
              <tr>
                <td><li>Ground freight paid (continental USA)</li></td>
              </tr>
            </ul>
          </tbody>
        </thead>
      </table>
  </div>
</div>
