<div class="container">
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingFour">
    <h1 class="panel-title">
      <strong>Which Chevy engine should I use in my conversion?</strong>
    </h1>
  </div>
  <div class= "col-md-2">
    <h4>
      Small Block
    </h4>
  </div>
  <div class="col-md-10">
    <p>
      Stock small block motors provide considerable improvements over Jag power. Use a 305 (5.0) for fuel economy or a 350 (5.7) for more punch. Other V8 sizes, 327, 400 (small block) etc. are also suitable. I am definitely pro Hot Rod but I don’t want you to get the idea that you need a high performance motor to motivate that Kitty (the OEM 6 and 12 are 4.2 and 5.3L respectively).
    </p>
  </div>
  <div class= "col-md-2">
  </div>
  <div class="col-md-10">
    <p>
      <strong>Fuel Injection (FI):</strong> For years we’ve suggested carb motors to keep it simple, however, GM has the bugs worked out and we are ready when you are. Four OEM systems are available, throttle body injection (TBI) that uses a carb looking unit with two centrally located injectors, tuned port injection (TPI) with an injector at each port, the high revving LT-1, and the completely new Vortec V8 motor. All of these FI systems work great with a JCI Conversion Kit.
    </p>
  </div>
  <div class= "col-md-2">
  </div>
  <div class="col-md-10">
    <p>
        FI is not a cheap date, but you’ll have class provided you don’t try to shortcut the job. A JCI Conversion Kit includes the special radiator hoses, throttle linkages and supporting instructions for a FI motor but DOES NOT include the Fuel Injection harness, ECM, fuel pump or associated wiring and plumbing that is FI related. You must buy a custom harness (or modify an original harness) from the aftermarket FI guys. There are many businesses that sell tech manuals, complete harnesses, ECMs, filters and FI related hardware, here are two we use:
    </p>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-3">
      <p>
        Helm (Manuals) in Michigan
      </p>
    </div>
    <div class="col-md-5">
      <p>
        (800) 782-4356
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-3">
      <p>
        Howell Engine Development in Michigan
      </p>
    </div>
    <div class="col-md-5">
      <p>
        (810) 765-5100
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-3">
      <p>
        Dr. K in Alabama
      </p>
    </div>
    <div class="col-md-5">
      <p>
        (205) 543-7165
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-3">
      <p>
        Street & Performance in Arkansas
      </p>
    </div>
    <div class="col-md-5">
      <p>
        (501) 394-5711
      </p>
    </div>
  </div>
  <div class= "col-md-2">
  </div>
  <div class="col-md-10">
    <p><strong>LT-1 Notes:</strong> GM completely redesigned the small block with the LT-1.  It is a very clean setup - not the 80's bag on snakes, plumbing and servicing nightmare.   The LT-1 and 4300 derivative have the EGR plumbed externally into the rear of the intake because GM deleted the exhaust crossover passage in the heads.  It is best to keep the EGR because it reduces spark knock, reduces emissions, and allows the computer to signal more ignition advance (better performance).  I have a pair of exhaust manifolds with the required modifications, parts, and plumbing necessary to retain the EGR.   AIR - air induction reaction - is also accommodated with these manifolds (a must in communities with emission controls requirements).  AIR only functions the first minute or so of operation - it helps complete combustion and light off the catalytic converters sooner.  The air pump on LT-1 is electric and is controlled by the ECM.</p>
    <p><strong>Fuel Injection $$$</strong>:  Add $100.00 to the JCI Kit Price when using a FI V8 motor for the many changes required for this V8 kit – cooling system, electrical, steering and A/C plumbing, etc. plus 8 more pages of instructions.  This is not an ECM or fuel injection harness..  </p>
    <p><strong>Performance...</strong> The converted V8-Jaguar weighs 105 to 400 lbs. less than a Jaguar-Jaguar and has a more central and lower center of gravity. This diet enhances handling and corrects the common nose down attitude (due to front spring sag) without detracting from the ride quality for which Jaguar is renowned. Fuel consumption averages 15-18 city, and 20+ MPG on the road using stock V8 drivelines – fuel injection cars do a little better. In general, a stock small block V8 is considerably quicker than even the V12.  </p>
  </div>
  <div class= "col-md-2">
    <h4> Big Block </h4>
  </div>
  <div class="col-md-10">
    <p>If you are after a sleeper or a torquey tire smoker for the stoplight drags, our Chevy BIG Block 396-402-427 -454-502-??? conversion kit is the answer.  The kit is 100% bolt-in, of course, absolutely no butchering, and like the small blocks, everything works.</p>
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-10">
    <p> A V12 car is preferred for front suspension, exhaust, positraction (POWER-LOK) and rear axle ratios but refitting the proper pieces to a 6-cylinder car will achieve the desired results.  The kit is not compatible with raised block or truck motors.  A T400 automatic transmission is recommended and a passenger car oil pan is needed.  High rise intake manifolds will not fit under stock XJS hood.  Two barrel intake will not clear hood.  The long (A6) air-conditioning compressor on the driver’s side is required.  A gear drive Super Starter is suggested – it affords a bit more header clearance and we have them in stock.</p>
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-10">
    <p> <strong>Performance...</strong> Performance specs...<strong>QUICK</strong>! A big block Jag still weighs 100 lbs. less than a 12-cylinder car. Center of gravity is even lower than the Chevy small block. Pilot’s license required before taking off in your new toy and don’t forget to up the limit on your gas card. No liability assumed for behavioral changes.</p>
  </div>
  <div class="space-70"></div>

  <div style="border-radius: 15px; border-color: red; border-style: solid; color: black; padding: 10px;">
    <h3 style="text-align: center;">
      <strong>JR TIPS!</strong>
    </h3>
    <p>
      Unless you need a super performer, I suggest the small block, even if you build a slightly non-stock or fuel injection version for more horsepower.  Big blocks are nice, but they require more attention and the resale of your Jaguar will be limited to the performance oriented buyer.
    </p>
  </div>
  <div style="border-radius: 15px; border-color: red; border-style: solid; color: black; padding: 10px;">
    <h3 style="text-align: center;">
      <strong>SUGGESTION</strong>
    </h3>
    <p>I <strong>strongly</strong> recommend you purchase a <strong>COMPLETE</strong> "pull-out" engine with transmission, fan, all accessories and brackets, trans oil cooler lines, air filter assembly (with a flat top), etc., as a package. </p>
    <p>Buying a piece at a time will drive you and the parts person nuts, not to mention the added time and money. Alternatively, consider also buying an older but complete Chevrolet car and rebuilding the motor, transmission, etc. Performance mods are easy to do at overhaul time. I suggest 1969-up long style water pump and brackets, internal regulator alternator and HEI distributor.</p>

    <p>The main point is to get the new driveline <strong>COMPLETE</strong> – even if you have to buy an entire car to do it!</p>
    </p>
  </div>
  <div class="panel-heading" role="tab" id="headingFour">
    <h1 class="panel-title">
      <strong>What about SMOG requirements?</strong>
    </h1>
  </div>
  <p>Emission equipment – not just for LA anymore. All the needed equipment – catalytic converter(s), air pump, preheated air cleaner assembly, PCV and EGR valves, heat riser or EFE, vapor canister, etc – will fit when using my V8 kit.</p>
  <p><strong>Important:</strong> Check with your local authorities or inspection facilities to determine what is required for your conversion. Usually, the newest factor (engine or car) determines what year standards you will have to meet, but again, check with the local authorities. Sometimes they will insist on a FI V8 if your Jag had fuel injection, and others won't let you use a truck motor in a passenger car. If they waffle, have them put it in writing!</p>
  <p><strong>California:</strong> Call 800-952-5210 for official literature. As we understand the laws, cars manufactured in 1973 or earlier are exempt from emissions (a 30 year rolling exemption law begins 2004 [1974]). All newer V8 Fuel Injection conversions must have a VSS and an ALDL port for the smog test. Note: If you're installing a V8 into a Jaguar with an electric speedo, you will need JCI's VSS Buffer. (BONUS: it eliminates the flaky Lucas speedo transducer). JCI Headers are not CARB approved – you must use GM exhaust.</p>

  <div class="panel-heading" role="tab" id="headingFour">
    <h1 class="panel-title"><strong>Which transmission is best for my conversion?</strong></h1>
  </div>
  <p> Transmission selection has more opinions than the size of the V8 you should use. Briefly, I suggest a...</p>
  <p>T350 for post-80 cars (with a 2.88 differential)</p>
  <p>T700 overdrive for pre-1980 cars</p>
  <p>T400 for super duty applications.</p>
  <p> <strong>2.88 Jags:</strong>  If your V8 comes with a T700, but your Jaguar has the high ratio rear end, go ahead and use it... don't spend your time and money exchanging it for the T350.</p>



      <div class="space-70"></div>
      <p> <%= link_to "Back to top", anchor: ("triumph_top")%>

      <!-- </div> -->
  <!-- </div> -->
</div>

</div>
