<div class="space-70"></div>
<div class="container">
<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="headingFour">
    <h1 class="panel-title">
      <strong>Why should I convert my Jaguar to a Chevy driveline?</strong>
    </h1>
  </div>
      <p>
        In today’s world, peace of mind is hard to find. Jaguar is world renowned for the beauty, comfort and luxury of their cars: it is second to none. Unfortunately, Jaguar is just as notorious for the gremlins exported with their cars. Converting the English engine and transmission to "Made in America" power provides you with <strong>reliable, low maintenance</strong> motoring at an <strong>affordable price</strong>. Imagine, driving it there and <strong><em>back</em></strong> again... carefree. Our Conversion provides you with three main benefits:
      </p>
      <div class= "col-md-2">
        <h4> Reliability: </h4>
      </div>
      <div class="col-md-10">
        <p>
          The most important reason to put a Chevy V8 and transmission in your Jaguar – long life, and dependable, economical service.  Plus you get the convenience of having a Chevy motor, transmission and accessories that everybody stocks and most anyone can fix – don’t get stranded waiting for Jaguar parts (and a Jaguar specialist) in Smalltown USA.
        </p>
      </div>
      <div class="col-md-2">
        <h4> Affordability: </h4>
      </div>
      <div class="col-md-10">
        <p>
          The Chevrolet V8 is easy to install and maintain, meaning fewer problems (and expenses) now and in the future.  When your GM water pump dies it costs $50.00 for a new one, not $230.00. And if you have the grueling commute every day, your conversion will pay itself with 15-18 mpg in the city and 19-22 mpg on the highway. Wrecker bills and car rentals will vanish instead of your day off.
        </p>
      </div>
      <div class="col-md-2">
        <h4> Driveability: </h4>
      </div>
      <div class="col-md-10">
        <p>
          Reliability and economy are the reasons why most people convert their Jaguars, but driveability is what they love the most. The V8 possesses more torque and power than the Jaguar 6 or 12 cylinder, giving you more <strong>GO</strong> off the line and more passing power on the highway . Also, the V8 driveline moves the center of gravity slightly rearward and lower, improving handling. All in all, the conversion will give you confidence and peace of mind.
        </p>
      </div>
      <p>
        With a Chevrolet V8 in place, you "exorcize" the typical demons: overheating, crossmember fatigue, engine mount cracking, plus the electrical shortages from Lucas... the people who invented darkness! Unfortunately the lack of oil on your driveway will cause it to rust and the local dealer will probably refuse to service your hybrid kitty.   That in itself isn’t all bad as most dealerships generally only know about the last 2 or 3 years of Jaguars.
      </p>
      <p>
        After considering or trying every modern American V8 and 6-cylinder for the XJ series, I settled on the Chevrolet V8 with a GM trans and accessories. Why the Chevrolet and not Cadillac, Olds, Buick or Ford?  Other engines fit in the space but all require compromises: motor mount fatigue problems, cobbled exhaust manifolds (restrict breathing), butchered oil pan (for clearance), etc. Plus the Chevrolet V8 and parts for it can be found the world over. I have V8 customers in <strong>Australia, Brazil, Germany, Guam, Japan, Korea, Philippines, Saudi Arabia, Sweden,</strong> and even the <strong>UK!</strong> Everyplace has a Chevy water pump.
      </p>
      <div class="space-70"></div>
      <p> <%= link_to "Back to top", anchor: ("triumph_top")%>

</div>
</div>
