<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h1 class="panel-title"><strong>Why buy a John’s Cars conversion kit instead of someone else’s?
</strong></h1>
    </div>
  </div>
</div>
