<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h1 class="panel-title"><strong>Why buy a John’s Cars conversion kit instead of someone else’s?</strong></h1>
    </div>
    <div class="col-md-9">
      <p>Conversions are <strong>NOT</strong> all created equal – not only aesthetically but more importantly, the feel (ride, drive and sound) and safety.</p>
      <p><strong>Completeness:</strong> With well over 4000 XJ conversions behind me, we know what the problems and pitfalls are and my kit helps you avoid them. We continue to refine the kit to keep it the best solution for you. If you are happy with your conversion, you become the best advertisement available. Our kits include over 100 pieces, require absolutely no mods to the exterior or interior of car and the instrumentation functions as original. No cutting, fabrication or welding required. This conversion is 100% bolt-in... meaning it is done without special tools or training. See What You Really Want to Know! on page 8 for more technical information on our kits.</p>
      <p><strong>References:</strong> John's Cars can provide references regarding Quality, Experience, Service, Performance, Availability, and Resale value unmatched by anyone – check us out! If you request, I'll direct you to others who have been down the long hard road without the JCI Kit.</p>
      <p><strong>Help!</strong> Technical help is part of the deal! Our parts people have done conversions – should you have a question concerning the V8 installation, we're here Monday to Friday, 8am to 6pm CST for technical questions (not four hours here or there). However, we can't help with Joe Stroke's 39.95 "HOW TO DO IT" (not) manual nor ABC's nitrous or fuel injection setup – call the mouse you bought it from.</p>
      <p><strong>Just Do It:</strong> Buy my kit, start it, finish it, and drive it down the road. Lots of people could make one run, but after how many months and what is the resale value of a Heinz 57? It takes longer to repair that junkyard creation than to start from scratch with the complete kit. Converting your XJ with a carbureted V8 takes 16-24 hours exclusive of detailing. Detailing is the effort that shines, from repainting the engine compartment, the brake booster and heat shields to a fresh coat of paint on the V8 and installation of the chrome dress-ups desired. A full weeks' worth of attention is necessary for a first class conversion – it will "SHOW and GO". </p>
      <p><strong>SHOPS:</strong> My kits fit and work. The average hours billed out to a customer often being only 50% of the man-hours worked due to circumstances beyond your control, parts delayed, boxed wrong, shuffling jobs, etc. etc., it is reasonable to have a job that delivers without those comebacks that eat your lunch (and reputation) quicker than _____. ! </p>
      <p><strong>The Original:</strong> Imitation is the sincerest form of flattery, but I have yet to see another conversion kit that flatters me. Everyone selling kits or plans has had one of my kits, yet their product and workmanship do not come close to the JCI standard. How good are my kits – when you look closely, you'll find pictures of my conversions, kit parts and instructions in "their" literature. Almost daily someone new is trying to cash in with a $100, $200 or $300 mounting kit. Service after the sale – ha – they already got your $$$$. Maybe I'm a bit wordy... I think you would rather know some of the pitfalls now than find out later. If you are saddled with one of these bailing wire catastrophes, I'll give you $100 credit on a kit purchase when you trade in the MONGREL parts. "Do it yourself" plans also eligible for credit. Please call for details. </p>
      <p><strong>Resale:</strong> Finally, a John's Cars V8 Jaguar is worth more than a standard Jaguar-Jaguar! The V8 conversion alone does not do it; it has to be a proper job with a secure track record. A non-JCI conversion sells for 50%-70% below the value of an equivalent John's Cars XJ-V8 Jaguar.</p>
      <p>Still not a believer?  Read our <%=link_to "Customer Testimonials", "#"%> to hear what our customers think about us and our products.</p>
    </div>
    <div class="col-md-3" style=" border-color: black; border-style: solid; color: black; padding: 10px;">
      <p>I am 50 years old and have a bachelor's degree in civil and mining engineering. I have been a street rodder for better than 25 years... My street rodding background has made me painfully aware of the expense of having to manufacture all of your own brackets, hoses, etc... In my opinion, your kit is still cheaper at twice the price... Thanks again, both for making the kit available and for being so helpful on the phone. The conversion turned what had been a dog into a real cat.... </p>
    </div>
    <br>
    <div class="col-md-3" style="border-color: black; border-style: solid; color: black; padding: 10px;">
      <p class="text-center"> The BIG STEP</p>
      <p>Before laying out the big $$$ for anyone’s conversion kit, buy the BIG STEP, a complete guide to preparing for a V8 conversion for your Jaguar.  It includes:<p>
        <ul>
          <li>Buyer's check-out list if you are looking to buy a Jaguar</li>
          <li>Advice and specs on different V8 drivelines</li>
          <li>Illustrated, step-by-step instructions on removing your Jaguar driveline</li>
          <li>Engine bay prep advice and more!</li>
        </ul>
      <p>This will give you an idea of how complete and thorough my kit is and your entire project could be. It provides details on buying and assembling your Chevy driveline and removing the Jag motor. The BIG STEP is $20 (postpaid).<p>
      <p>COME ON! When you buy your JCI kit, we credit the $20.00 towards your kit purchase plus you’ll get your tachometer calibrated for free (when you buy the regular kit) or a free set of my trick polyurethane bushings (when you buy the One Stop Shopping Deal).</p>
    </div>
  </div>
</div>
