<div class="space-70"></div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h1 class="panel-title"><strong>1969 to 1987 XJ Sedan VIN Guide</strong></h1>
    </div>
      <p>The following table lists the starting <strong>VIN (vehicle identification number)</strong> for a model year.  Example:  All 1981 XJ6 Sedans fall between 320092 and 330272.  Your VIN is important because it is the final authority on when your car was built and what components apply to it.  Keep you VIN number handy when ordering parts for your Jaguar.</p>
      <p>The VIN is typically located on the driver's windshield pillar or the driver's door or jam.  On USA cars federal law specifies that it be permanently affixed in the dash area. Jaguar cars have a plate that is riveted to the windshield (roof) post on the driver's side. (Gray market cars usually have a metal tag glued to the dash pad). Additionally this number is stamped into the RH fender brace or cowl brace and finally it is on the door or door jamb (by the hinge on early sedans, lock striker on XJS) on a embossed label. All three should match - be cautious if they do not. The label is often painted over but usually you can still read it. This is where the build date, i.e., 8/79 will be found. Earlier Sedans have a metal plate with engine, transmission, body information stamped in it that is riveted to the fender well. European cars have a 2 x 3" label with similar information under the hood. The color and trim codes are usually found on 1980-> stick-on labels with the VIN</p>
      <p><strong>Engine numbers</strong> are used for all types of parts - gaskets, Lucas, flywheels, hoses, fuel parts, ignition, and especially water pumps. What will really throw you a curve is "What kind of ignition do you have" when you order XJS floor mats!  The engine number for an XJ6 is on outer edge of bellhousing flange of block where it meets the transmission. Ten o'clock position if viewing the motor from the rear. It is visible when you peer past the brake booster on the driver's side. Example 8L25468.  The V12 is a bit harder because it gets dirtier - located on the bellhousing flange at 12 Noon - take a torch (English for flashlight).</p>
        <table class="table table-bordered">
            <thead>
              <th>Series</th>
              <th>Year</th>
              <th>XJ6</th>
              <th>XJ6L</th>
              <th>XJ6C</th>
              <th>XJ12L</th>
              <th>XJ12C</th>
            </thead>
            <tbody>
              <tr>
                <td>I</td>
                <td>1969</td>
                <td>1L 50001</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
              </tr>
              <tr>
                <td>I</td>
                <td>1970</td>
                <td>1L 53203</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
              </tr>
              <tr>
                <td>I</td>
                <td>1971</td>
                <td>11L 55686</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
              </tr>
              <tr>
                <td>I</td>
                <td>1972</td>
                <td>1L 64129</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
              </tr>
              <tr>
                <td>I</td>
                <td>1973</td>
                <td>UD 1L 69908</td>
                <td>X</td>
                <td>X</td>
                <td>UD 1P 50153#</td>
                <td>X</td>
              </tr>
              <tr>
                <td>II</td>
                <td>1974</td>
                <td>UE 2N 50001</td>
                <td>UE 2T 50093</td>
                <td>X</td>
                <td>UE 2R 50001	</td>
                <td>X</td>
              </tr>
              <tr>
                <td>II</td>
                <td>1975</td>
                <td>X</td>
                <td>UF 2T 54779	</td>
                <td>UF 2J 50045	</td>
                <td>UF 2R 53930	</td>
                <td>UF 2G 50060</td>
              </tr>
              <tr>
                <td>II</td>
                <td>1976</td>
                <td>X</td>
                <td>UG 2T 56746	</td>
                <td>UG 2J 51369	</td>
                <td>UG 2R 54264	</td>
                <td>UG 2G 50426</td>
              </tr>
              <tr>
                <td>II</td>
                <td>1977</td>
                <td>X</td>
                <td>UH 2T 63599	</td>
                <td>UH 2J 52842	</td>
                <td>UH 2R 56786	</td>
                <td>X</td>
              </tr>
              <tr>
                <td>II</td>
                <td>1978</td>
                <td>X</td>
                <td>UJ 2T 69541	</td>
                <td>X</td>
                <td>UJ 2R 58421	</td>
                <td>X</td>
              </tr>
              <tr>
                <td>II</td>
                <td>1978½	</td>
                <td>X</td>
                <td>JAVLN 48C 100001</td>
                <td>X</td>
                <td>JBVLN 48C 100001</td>
                <td>X</td>
              </tr>
              <tr>
                <td>II</td>
                <td>1979</td>
                <td>X</td>
                <td>JAVLN 49C 100749</td>
                <td>X</td>
                <td>JBVLN 49C 100001</td>
                <td>X</td>
              </tr>
              <tr>
                <td>II</td>
                <td>1979½</td>
                <td>JAVLN 49C 300001</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
              </tr>
              <tr>
                <td>II</td>
                <td>1979</td>
                <td>JAVLN 49C 300001</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
              </tr>
              <tr>
                <td>II</td>
                <td>1979½</td>
                <td>JAVLN 49C 300001</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
              </tr>
              <tr>
                <td>II</td>
                <td>1980</td>
                <td>JAVLN 4AC 310676</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
              </tr>
              <tr>
                <td>II</td>
                <td>1981</td>
                <td>SAJAV 134@BC 320092</td>
                <td>XJ6 Vanden Plas</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
              </tr>
              <tr>
                <td>II</td>
                <td>1982</td>
                <td>SAJAV 134@CC 330273	</td>
                <td>SAJAY 134@CC 330273</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
              </tr>
              <tr>
                <td>II</td>
                <td>1983</td>
                <td>SAJAV 134@DC 346688	</td>
                <td>SAJAY 134@DC 346688	</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
              </tr>
              <tr>
                <td>II</td>
                <td>1984</td>
                <td>SAJAV 134@EC 366290</td>
                <td>SAJAY 134@EC 366290</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
              </tr>
              <tr>
                <td>II</td>
                <td>1985</td>
                <td>SAJAV 134@FC 389879</td>
                <td>SAJAY 134@FC 389879</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
              </tr>
              <tr>
                <td>II</td>
                <td>1986</td>
                <td>SAJAV 134@GC 431604</td>
                <td>SAJAY 134@GC 431604</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
              </tr>
              <tr>
                <td>II</td>
                <td>1987</td>
                <td>SAJAV 134@HC 461709	</td>
                <td>SAJAY 134@HC 461709	</td>
                <td>X</td>
                <td>X</td>
                <td>X</td>
              </tr>
              <tr>
                <td> Notes </td>
                <td># 1973 XJ12 Models are all short wheelbase in the USA - no "L". @ Security character (usually 0 to 9) </td>
              </tr>
            </tbody>
          </table>
  </div>
</div>
