<div class="space-70"></div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h1 class="panel-title">  <strong>1969 to 1987 XJ Sedan Model Guide</strong></h1>
    </div>
    <p>
      The classic Jaguar XJ Sedans began life in 1969 and continued until 1987. They carried several different model monikers over the years including XJ6, XJ6C, XJ6L, XJ12, XJ12C and XJ12L. The XJ was inherited from internal Jaguar names for projects. The 6 or 12 is the number of cylinders of the Jaguar motor. The "C" cars were a shortened Sedan with only two doors. The "L" cars were lengthened to provide more room in the back seat. The cars were also split into three different <strong>Series</strong> by year.
    </p>
    <div class="col-md-2">
      <h4> Series I </h4>
    </div>
    <div class="col-md-10">
      <p> 1969 to 1973 four door sedans with power steering, brakes, and electric windows, marginal air-conditioning, large front grille, metal bumpers, operating vent windows on front doors, wood rails on door window sills, 4 gauges plus clock across center of dash, definite European styling. 108" wheel base, 3.54 rear axle for most 6 cylinder cars, 3.31 for most 12 cylinder cars. Trunk letters XJ, XJ6, XJ12.</p>
    </div>
    <div class="col-md-2">
      <h4> Series I </h4>
    </div>
    <div class="col-md-10">
      <p> 1969 to 1973 four door sedans with power steering, brakes, and electric windows, marginal air-conditioning, large front grille, metal bumpers, operating vent windows on front doors, wood rails on door window sills, 4 gauges plus clock across center of dash, definite European styling. 108" wheel base, 3.54 rear axle for most 6 cylinder cars, 3.31 for most 12 cylinder cars. Trunk letters XJ, XJ6, XJ12.</p>
    </div>
    <div class="col-md-2">
      <h4> Series II </h4>
    </div>
    <div class="col-md-10">
      <p>1974 to 1979. Updated to meet U.S. safety and smog requirements: rubber bumpers, door beams, emissions equipment and about 500 pounds heavier. Front grille smaller to blend in with bumper styling. Electric door locks, automatic climate control with large A/C center vent (gauges moved to surround smaller speedometer and tachometer), vent window glass in front doors is no longer operable. Flick wipe added to wipers. Most cars now 112" chassis (4" added to the rear floor for passengers) designated by letter "L". 1974 is last year for SWB four doors. XJ"C" two door hard top coupe introduced in 1975 built on 108" chassis, discontinued in 1977. Air noise from doors and poor roof panel quality rumored causes. Fuel Injection standard 1975-on 12 cylinder and 1978-on 6 cylinder cars. Square outside rear view mirror 1978-on. 3.31 axle ratio standard most cars.</p>
    </div>
    <div class="col-md-2">
      <h4> Series III: </h4>
    </div>
    <div class="col-md-10">
      <p>1979½ to 1987. An "Americanized" car with new features: cruise control, twin square electric mirrors, intermittent wipers, cassette radio and electric aerial, electric seat (drivers only) and electric door locks now operated by front door key instead of console switch. Cosmetic changes include new grille, bumpers, larger tail lights, door handles flushed-in, vent window post eliminated. Roof raised to accommodate taller drivers. Sunroof added 1981-on. V12 motor dropped in U.S.A. due to CAFE laws. Hubcaps styled as alloy wheels were fitted in 1979 to 80. XJS type alloy are fitted from 1981. Trip computer 1983-on. Taller gear ratios, 3.07 and 2.88, instituted trying to meet CAFE requirements. XJ6 designated, all on 112" chassis. Replaced by the XJ40 (aka "The New XJ6") in late 1987.</p>
    </div>
    <div class="col-md-2">
      <h4> All Sedans </h4>
    </div>
    <div class="col-md-10">
      <p>All cars have fully independent suspension and four wheel disc brakes (inboard on the rear). Ventilated rotors on front brakes from 1974-on. Brake and suspension components virtually identical on all XJ cars since 1974. All models have Lucas electrics unless otherwise noted. V12 cars featured positraction rear axles. Telescoping steering column all models – tilt not available. All U.S. 6-cylinders have Borg Warner (BW) automatic transmissions. U.S. V12 have BW trans until 1977½, then all 1977½-on V12 use a GM T400 with a special "Jaguar only" case that will not adapt to earlier V12 engines, Jaguar 6 cylinder motors nor Chevy V8s. 6 cylinders – 4.2 liters - 258 inches, V12 – 5.3 liters – 327 inches. There are exceptions to everything. If you are presented a car that is "special", especially year or model wise – <strong>BE CAUTIOUS</strong>.</p>
    </div>
  </div>
</div>
