<br><br><br><br>
<div class="container">
  <p> Your LS ZCar form was generated correctly. <%= link_to "Click Here", print_order_sheet_pdf_path(@order_sheet.id, format: :pdf) %> to print your order form. </p>
  <br><br>
  <p> Need to Edit your LS ZCar order form? <%= link_to "Click Here", edit_order_sheet_path(@order_sheet.id) %> to edit your form. </p>
</div>
