<footer id="footer-option">
          <div class="container">
              <div class="row">
                  <div class="col-md-8 margin-btm-40">
                      <div class="footer-col">
                          <h3 class="text-center">Quicklinks</h3>
                          <div class="col-md-6">
                              <p> Jaguar Conversions </p>
                              <p> John's Cars Home </p>
                              <p> Latest News</p>
                              <p> Policies & Returns</p>
                              <p> Train Stuff</p>
                          </div>
                          <div class="col-md-6">
                            <p> Jaguar Parts</p>
                            <p> Triumph Tr7</p>
                            <p> Datsun ZCar</p>
                            <p> Disclaimer</p>
                            <p> www.brokenkitty.com</p>
                          </div>
                      </div>
                  </div><!--footer col end-->


                  <div class="col-md-4 margin-btm-20">
                      <div class="footer-col">
                          <h3>Contact info</h3>
                          <p><i class="ion-home"></i> 800 Jaguar Lane Dallas, TX 75226</p>
                          <p><i class="ion-iphone"></i> Phone +1 (214) 426-4100</p>
                          <p><i class="ion-android-print"></i> Fax (214) 426-3116</p>
                          <p><i class="ion-email"></i> help@johnscars.com</p>
                      </div>

                  </div><!--footer col end-->
              </div>
          </div>
          <div class="footer-copyright">
              <div class="container">
                  <div class="row">
                      <div class="col-md-7">
                          <p>&copy; 2007 John's Cars, Inc.  All Rights Reserved.  Prices subject to change without notice.</p>
                      </div>
                      <div class="col-md-5 ">
                          <ul class="list-inline footer-nav">
                              <li><a href="index.html">Home</a></li>
                              <li><a href="faqs.html">Faqs</a></li>
                              <li><a href="blog-full.html">News</a></li>
                              <li><a href="pricing.html">Pricing</a></li>
                              <li><a href="contact.html">Contact</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </footer><!--#footer option end-->
